n8n_plan/WF1_FIXED.json
{
  "name": "WF1 - CargoLink Broadcast Request to Forwarders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Trigger from Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "omego-broadcast-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM requests WHERE request_id = '{{ $json.request_id }}'",
        "options": {}
      },
      "id": "read-request",
      "name": "PostgreSQL - Read Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT full_name, email FROM users WHERE sovereign_id = '{{ $json.user_sovereign_id }}'",
        "options": {}
      },
      "id": "read-user",
      "name": "PostgreSQL - Read User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM forwarders WHERE status = 'APPROVED' OR status = 'ACTIVE'",
        "options": {}
      },
      "id": "read-forwarders",
      "name": "PostgreSQL - Read Active Forwarders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter forwarders by specialization\nconst requestData = $('PostgreSQL - Read Request').first().json;\nconst cargoType = requestData.cargo_type;\nconst forwarders = $input.all();\n\nconst relevantForwarders = forwarders.filter(f => {\n  const specs = (f.json.specializations || '').toLowerCase();\n  const cargoMatch = specs.includes(cargoType.toLowerCase()) || \n                     specs.includes('all') || \n                     specs === '';\n  return cargoMatch;\n});\n\nreturn relevantForwarders;"
      },
      "id": "filter-forwarders",
      "name": "Code - Filter by Specialization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build email for current forwarder\nconst requestData = $('PostgreSQL - Read Request').first().json;\nconst userData = $('PostgreSQL - Read User').first().json;\nconst forwarderData = $json;\n\nconst emailSubject = `🚢 [NEW REQUEST] ${requestData.request_id} - ${requestData.origin} to ${requestData.destination}`;\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background: #f4f4f4; }\n    .container { max-width: 600px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: #2E75B6; color: white; padding: 30px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .content { padding: 30px; }\n    .request-id { font-size: 24px; font-weight: bold; color: #2E75B6; margin: 20px 0; text-align: center; border: 2px solid #2E75B6; padding: 15px; border-radius: 5px; background: #E8F4F8; }\n    .details { background: #f9f9f9; padding: 20px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #2E75B6; }\n    .detail-row { margin: 12px 0; display: flex; }\n    .label { font-weight: bold; color: #666; min-width: 150px; }\n    .value { color: #333; }\n    .highlight-box { background: #FFF3CD; border: 2px solid #FFC107; padding: 15px; border-radius: 5px; margin: 20px 0; }\n    .instructions { background: #E8F4F8; padding: 20px; border-radius: 5px; margin: 20px 0; }\n    .footer { background: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; color: #666; }\n    ul { padding-left: 25px; }\n    ul li { margin: 8px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚢 New Freight Request</h1>\n      <p style=\"margin: 10px 0 0 0; font-size: 16px;\">CargoLink Marketplace</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"request-id\">${requestData.request_id}</div>\n      <p>Dear ${forwarderData.company_name},</p>\n      <p>A new freight request has been posted on CargoLink that matches your expertise.</p>\n      <div class=\"details\">\n        <div class=\"detail-row\"><span class=\"label\">📍 Origin:</span><span class=\"value\">${requestData.origin}</span></div>\n        <div class=\"detail-row\"><span class=\"label\">📍 Destination:</span><span class=\"value\">${requestData.destination}</span></div>\n        <div class=\"detail-row\"><span class=\"label\">📦 Cargo Type:</span><span class=\"value\">${requestData.cargo_type}</span></div>\n        <div class=\"detail-row\"><span class=\"label\">🏷️ Commodity:</span><span class=\"value\">${requestData.commodity || 'General Merchandise'}</span></div>\n        <div class=\"detail-row\"><span class=\"label\">⚖️ Weight:</span><span class=\"value\">${requestData.weight_kg} kg</span></div>\n        <div class=\"detail-row\"><span class=\"label\">📋 Incoterms:</span><span class=\"value\">${requestData.incoterms}</span></div>\n      </div>\n      <div class=\"highlight-box\">\n        <strong>⏰ IMPORTANT: First 3 Quotes Win!</strong><br>\n        This request closes after <strong>3 quotations</strong>. Submit quickly!\n      </div>\n      <div class=\"instructions\">\n        <h3 style=\"margin-top: 0; color: #2E75B6;\">📧 How to Submit Your Quote:</h3>\n        <p><strong>Simply REPLY to this email</strong> with:</p>\n        <ul>\n          <li><strong>Total price</strong> (e.g., USD 2,500)</li>\n          <li><strong>Transit time</strong> (in days)</li>\n          <li><strong>Validity period</strong> (e.g., 7 days)</li>\n          <li><strong>Carrier/shipping line</strong></li>\n        </ul>\n        <p><strong>⚠️ Keep the Request ID (${requestData.request_id}) in your reply subject.</strong></p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p><strong>CargoLink Platform</strong> — Automated notification.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    email_to: forwarderData.email,\n    email_subject: emailSubject,\n    email_body: emailBody,\n    forwarder_id: forwarderData.forwarder_id,\n    forwarder_company: forwarderData.company_name,\n    request_id: requestData.request_id,\n    email_sent: true,\n    whatsapp_sent: false,\n    sent_at: new Date().toISOString()\n  }\n};"
      },
      "id": "build-email",
      "name": "Code - Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "n8n_broadcast_logs",
        "columns": "request_id,forwarder_id,forwarder_company,email_sent,whatsapp_sent,sent_at",
        "additionalFields": {}
      },
      "id": "log-broadcast",
      "name": "PostgreSQL - Log Broadcast",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 160],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      },
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Gmail - Send to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 440],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    forwarder_id: $json.forwarder_id,\n    request_id: $json.request_id,\n    status: 'PENDING',\n    attempted_at: new Date().toISOString()\n  }\n};"
      },
      "id": "prepare-bid-status",
      "name": "Code - Prepare Bid Status Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 440]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (forwarder_id, request_id, status, attempted_at) VALUES ('{{ $json.forwarder_id }}', '{{ $json.request_id }}', 'PENDING', NOW()) ON CONFLICT (forwarder_id, request_id) DO UPDATE SET status = 'PENDING', attempted_at = NOW()",
        "options": {}
      },
      "id": "log-bid-status",
      "name": "PostgreSQL - Log Bid Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2000, 440],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Count total forwarders notified\nconst gmailItems = $('Gmail - Send to Forwarder').all();\nconst requestData = $('PostgreSQL - Read Request').first().json;\nconst userData = $('PostgreSQL - Read User').first().json;\n\nreturn {\n  json: {\n    total_notified: gmailItems.length,\n    request_id: requestData.request_id,\n    user_email: userData.email,\n    user_name: userData.full_name\n  }\n};"
      },
      "id": "summary",
      "name": "Code - Create Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 440],
      "executeOnce": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user_email }}",
        "subject": "✅ Your request {{ $json.request_id }} is live - {{ $json.total_notified }} forwarders notified!",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;\">\n<div style=\"max-width:600px;margin:0 auto;\">\n  <div style=\"background:#28A745;color:white;padding:30px;text-align:center;\">\n    <h1>✅ Request Broadcasted!</h1>\n  </div>\n  <div style=\"padding:30px;\">\n    <p>Dear {{ $json.user_name }},</p>\n    <p>Your request <strong>{{ $json.request_id }}</strong> has been posted on CargoLink!</p>\n    <div style=\"background:#E8F4F8;padding:20px;border-radius:5px;text-align:center;margin:20px 0;\">\n      <div style=\"font-size:48px;font-weight:bold;color:#2E75B6;\">{{ $json.total_notified }}</div>\n      <p>Forwarders Notified</p>\n    </div>\n    <p>You will receive quotations within 24-48 hours. The request closes after 3 quotes.</p>\n  </div>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "confirm-user",
      "name": "Gmail - Send User Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2440, 440],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events_logs (event_type, request_id, description) VALUES ('REQUEST_BROADCASTED', '{{ $('Code - Create Summary').first().json.request_id }}', 'Broadcasted to {{ $('Code - Create Summary').first().json.total_notified }} forwarders') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-event",
      "name": "PostgreSQL - Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2660, 440],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"request_id\": $('PostgreSQL - Read Request').first().json.request_id, \"forwarders_notified\": $('Code - Create Summary').first().json.total_notified, \"message\": \"Request broadcasted successfully\" } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 440],
      "executeOnce": true
    }
  ],
  "connections": {
    "Webhook - Trigger from Backend": {
      "main": [[{ "node": "PostgreSQL - Read Request", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Read Request": {
      "main": [[{ "node": "PostgreSQL - Read User", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Read User": {
      "main": [[{ "node": "PostgreSQL - Read Active Forwarders", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Read Active Forwarders": {
      "main": [[{ "node": "Code - Filter by Specialization", "type": "main", "index": 0 }]]
    },
    "Code - Filter by Specialization": {
      "main": [[{ "node": "Code - Build Email Content", "type": "main", "index": 0 }]]
    },
    "Code - Build Email Content": {
      "main": [[
        { "node": "PostgreSQL - Log Broadcast", "type": "main", "index": 0 },
        { "node": "Gmail - Send to Forwarder", "type": "main", "index": 0 }
      ]]
    },
    "Gmail - Send to Forwarder": {
      "main": [[{ "node": "Code - Prepare Bid Status Data", "type": "main", "index": 0 }]]
    },
    "Code - Prepare Bid Status Data": {
      "main": [[{ "node": "PostgreSQL - Log Bid Status", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Log Bid Status": {
      "main": [[{ "node": "Code - Create Summary", "type": "main", "index": 0 }]]
    },
    "Code - Create Summary": {
      "main": [[{ "node": "Gmail - Send User Confirmation", "type": "main", "index": 0 }]]
    },
    "Gmail - Send User Confirmation": {
      "main": [[{ "node": "PostgreSQL - Log Event", "type": "main", "index": 0 }]]
    },
    "PostgreSQL - Log Event": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "2"
}
