n8n_plan/WF1_UPDATED.json
{
  "name": "WF1 — CargoLink Broadcast Request to Forwarders (UPDATED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "Webhook: New Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-broadcast-request"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n webhook typeVersion 1.1 wraps POST body as { body: {...}, headers: {...} }\n// All request + user fields are already in the webhook payload — no DB re-query needed.\nconst b = $input.first().json.body;\nif (!b || !b.request_id) throw new Error('Missing request_id in webhook body.');\n\nreturn {\n  json: {\n    request_id: b.request_id,\n    user_name: b.name || 'Client',\n    user_email: b.email,\n    origin: b.origin,\n    destination: b.destination,\n    cargo_type: b.cargo_type || '',\n    commodity: b.commodity || 'General Merchandise',\n    cargo_specification: b.cargo_specification || '',\n    packing_type: b.packing_type || 'PALLETS',\n    quantity: b.quantity || 1,\n    weight_kg: b.weight_kg,\n    incoterms: b.incoterms || 'FOB',\n    container_type: b.container_type || '',\n    is_hazardous: b.is_hazardous || false,\n    needs_insurance: b.needs_insurance || false,\n    vessel: b.vessel || '',\n    special_requirements: b.special_requirements || ''\n  }\n};"
      },
      "id": "wf1-extract",
      "name": "Code: Extract Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT forwarder_id, company_name, email, specializations FROM forwarders WHERE status = 'ACTIVE'",
        "options": {}
      },
      "id": "wf1-get-forwarders",
      "name": "PostgreSQL: Get Active Forwarders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const req = $('Code: Extract Request Data').first().json;\nconst cargoType = (req.cargo_type || '').toLowerCase();\nconst allForwarders = $input.all();\nconst matched = allForwarders.filter(f => {\n  const specs = (f.json.specializations || '').toLowerCase();\n  return specs.includes(cargoType) || specs.includes('all') || specs === '' || !f.json.specializations;\n});\nreturn matched.map(f => {\n  const emailSubject = `[NEW REQUEST] ${req.request_id} — ${req.origin} → ${req.destination}`;\n  const emailBody = `<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>New Freight Request</h1><p style='margin:0;font-size:11px;color:rgba(255,255,255,0.5);letter-spacing:0.12em;text-transform:uppercase;'>CargoLink · Freight Marketplace</p></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><div style='background:#f8fafc;border:2px solid #1a1a1a;border-radius:6px;padding:14px;text-align:center;margin:0 0 20px;'><span style='font-family:monospace;font-size:22px;font-weight:900;color:#1a1a1a;'>${req.request_id}</span></div><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Dear ${f.json.company_name},</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>A new freight request matching your profile has been posted. <strong>Only the first 3 quotations are accepted.</strong></p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:8px;margin:0 0 16px;'><tr><td style='padding:8px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #e5e7eb;width:130px;'>Route</td><td style='padding:8px 16px;font-size:13px;font-weight:700;color:#111827;border-bottom:1px solid #e5e7eb;'>${req.origin} → ${req.destination}</td></tr><tr><td style='padding:8px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #e5e7eb;'>Cargo Type</td><td style='padding:8px 16px;font-size:13px;font-weight:700;color:#111827;border-bottom:1px solid #e5e7eb;'>${req.cargo_type}</td></tr><tr><td style='padding:8px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #e5e7eb;'>Weight</td><td style='padding:8px 16px;font-size:13px;font-weight:700;color:#111827;border-bottom:1px solid #e5e7eb;'>${req.weight_kg} kg</td></tr><tr><td style='padding:8px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #e5e7eb;'>Incoterms</td><td style='padding:8px 16px;font-size:13px;font-weight:700;color:#111827;border-bottom:1px solid #e5e7eb;'>${req.incoterms}</td></tr><tr><td style='padding:8px 16px;font-size:13px;color:#6b7280;'>Container</td><td style='padding:8px 16px;font-size:13px;font-weight:700;color:#111827;'>${req.container_type || 'TBD'}</td></tr>${req.is_hazardous ? '<tr><td colspan=2 style=padding:8px 16px;font-size:13px;color:#dc2626;font-weight:700;border-top:1px solid #e5e7eb;>Hazardous Cargo</td></tr>' : ''}</table><div style='background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:14px;'><p style='margin:0;font-size:13px;color:#92400e;'><strong>Reply to this email</strong> with your rate keeping <strong>${req.request_id}</strong> in subject. Include: price (USD), transit days, carrier, validity.</p></div></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>`;\n  return { json: { forwarder_id: f.json.forwarder_id, forwarder_email: f.json.email, forwarder_company: f.json.company_name, request_id: req.request_id, user_name: req.user_name, user_email: req.user_email, email_subject: emailSubject, email_body: emailBody } };\n});"
      },
      "id": "wf1-build-email",
      "name": "Code: Filter + Build Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.forwarder_email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "wf1-send-gmail",
      "name": "Gmail: Send to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        280
      ],
      "continueOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_broadcast_logs (request_id, forwarder_id, forwarder_company, email_sent, whatsapp_sent, sent_at) VALUES ('{{ $json.request_id }}', '{{ $json.forwarder_id }}', '{{ $json.forwarder_company }}', true, false, NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "wf1-log-broadcast",
      "name": "PostgreSQL: Log Broadcast",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (forwarder_id, request_id, status, attempted_at) VALUES ('{{ $json.forwarder_id }}', '{{ $json.request_id }}', 'PENDING', NOW()) ON CONFLICT (forwarder_id, request_id) DO UPDATE SET status = 'PENDING', attempted_at = NOW()",
        "options": {}
      },
      "id": "wf1-log-bid-status",
      "name": "PostgreSQL: Log Bid Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const req = $('Code: Extract Request Data').first().json;\nconst sent = $('Gmail: Send to Forwarder').all();\nreturn {\n  json: {\n    request_id: req.request_id,\n    user_name: req.user_name,\n    user_email: req.user_email,\n    total_notified: sent.length\n  }\n};"
      },
      "id": "wf1-summary",
      "name": "Code: Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user_email }}",
        "subject": "=Your request {{ $json.request_id }} is live — {{ $json.total_notified }} forwarders notified!",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#374151;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Request Is Live</h1></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Hello {{ $json.user_name }},</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>Your freight request <strong>{{ $json.request_id }}</strong> is now live on CargoLink.</p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;margin:0 0 16px;'><tr><td style='padding:20px;text-align:center;'><div style='font-size:48px;font-weight:900;color:#374151;line-height:1;'>{{ $json.total_notified }}</div><p style='margin:4px 0 0;font-size:13px;color:#374151;font-weight:600;'>Forwarders Notified</p></td></tr></table><p style='margin:0;font-size:14px;color:#4b5563;line-height:1.7;'>Quotations will arrive shortly. Log in to compare and chat with forwarders.</p><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#374151;border-radius:8px;'><a href='https://cargolink.sa/dashboard/shipments' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>View Your Request →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "wf1-confirm-user",
      "name": "Gmail: Confirm to Shipper",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1780,
        400
      ],
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"request_id\": \"{{ $('Code: Extract Request Data').first().json.request_id }}\", \"forwarders_notified\": {{ $('Code: Summary').first().json.total_notified }}, \"message\": \"Broadcast complete\" }",
        "options": {}
      },
      "id": "wf1-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ],
      "executeOnce": true
    }
  ],
  "connections": {
    "Webhook: New Request": {
      "main": [
        [
          {
            "node": "Code: Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Request Data": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get Active Forwarders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Get Active Forwarders": {
      "main": [
        [
          {
            "node": "Code: Filter + Build Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Filter + Build Emails": {
      "main": [
        [
          {
            "node": "Gmail: Send to Forwarder",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL: Log Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send to Forwarder": {
      "main": [
        [
          {
            "node": "PostgreSQL: Log Bid Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Log Bid Status": {
      "main": [
        [
          {
            "node": "Code: Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Summary": {
      "main": [
        [
          {
            "node": "Gmail: Confirm to Shipper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Confirm to Shipper": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf1-updated"
  },
  "id": "AnvKpgZ3TduGpfgZ"
}