n8n_plan/WF2_FIXED.json
{
  "name": "WF2 - CargoLink Process Quotation Replies (AI + 3-Quote Limit)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "includeSpamTrash": false
        },
        "options": {
          "attachments": false,
          "q": "subject:(REQ OR OMEGO OR Quote)"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger - Monitor Inbox",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Gmail trigger returns capital From/Subject at top level\nvar subject = $json.Subject || $json.subject || '';\nvar from = $json.From || $json.from || '';\nvar body = $json.textPlain || $json.textHtml || '';\n\n// Try payload.headers as fallback\nif ((!subject || !from) && $json.payload && $json.payload.headers) {\n  var headers = $json.payload.headers;\n  for (var i = 0; i < headers.length; i++) {\n    if (headers[i].name === 'Subject' || headers[i].name === 'subject') subject = headers[i].value;\n    if (headers[i].name === 'From' || headers[i].name === 'from') from = headers[i].value;\n  }\n}\n\n// Use snippet as body fallback\nif (!body) body = $json.snippet || '';\n\n// Find OMEGO-XXXX-REQ-XX in subject or body\nvar regex = /[A-Z0-9-]+-REQ-\\d+/i;\nvar match = subject.match(regex) || body.match(regex);\nif (!match) throw new Error('Request ID not found. Subject: ' + subject);\n\nvar requestId = match[0].toUpperCase();\n\n// Extract sender email\nvar emailRegex = /<(.+?)>|([\\w.-]+@[\\w.-]+\\.\\w+)/;\nvar emailMatch = from.match(emailRegex);\nvar senderEmail = emailMatch ? (emailMatch[1] || emailMatch[2]) : from;\n\nreturn {\n  json: {\n    request_id: requestId,\n    sender_email: senderEmail.toLowerCase().trim(),\n    email_subject: subject,\n    email_body: body,\n    received_at: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-request-id",
      "name": "Code - Extract Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM forwarders WHERE LOWER(email) = LOWER('{{ $json.sender_email }}') AND (status = 'APPROVED' OR status = 'ACTIVE')",
        "options": {}
      },
      "id": "verify-forwarder",
      "name": "PostgreSQL - Verify Forwarder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "forwarder-exists-check",
              "leftValue": "={{ $json.forwarder_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "check-forwarder-exists",
      "name": "Forwarder Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, quotation_count FROM requests WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "check-request-status",
      "name": "PostgreSQL - Check Request Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-open-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "OPEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "check-is-open",
      "name": "Request is OPEN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as existing_count FROM quotations WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "count-existing-quotes",
      "name": "PostgreSQL - Count Existing Quotes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "under-3-check",
              "leftValue": "={{ Number($json.existing_count) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "check-under-3-quotes",
      "name": "Less than 3 Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as duplicate_count FROM quotations WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}' AND forwarder_id = '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}'",
        "options": {}
      },
      "id": "check-duplicate",
      "name": "PostgreSQL - Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-duplicate-check",
              "leftValue": "={{ Number($json.duplicate_count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "check-not-duplicate",
      "name": "Not Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a freight quotation extraction AI. Extract structured data from forwarder quotation emails.\\n\\nExtract these fields:\\n- total_price: numeric price only (no currency symbols)\\n- currency: currency code (USD, EUR, etc.)\\n- transit_days: transit time in days (number only)\\n- validity_days: quote validity in days (default 7 if not mentioned)\\n- carrier: shipping line name\\n- service_type: FCL, LCL, Air Freight, etc.\\n- surcharges: JSON object of extra costs or null\\n- is_hazardous: boolean\\n- is_stackable: boolean (true by default)\\n- needs_insurance: boolean\\n- notes: any additional info\\n\\nRespond ONLY with a valid JSON object. No markdown, no explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Code - Extract Request ID').first().json.email_body) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "ai-extract",
      "name": "OpenAI GPT-4 - Extract Quotation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "AMS3UhIDEmZFx4TA",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var openaiResponse = $json;\nvar aiResponseText = '';\n\nif (openaiResponse.choices && openaiResponse.choices[0] && openaiResponse.choices[0].message) {\n  aiResponseText = openaiResponse.choices[0].message.content;\n} else {\n  throw new Error('Could not find AI response: ' + JSON.stringify(openaiResponse));\n}\n\nvar extractedData;\ntry {\n  var cleanedResponse = aiResponseText.replace(/```json\\n|```/g, '').trim();\n  extractedData = JSON.parse(cleanedResponse);\n} catch (e) {\n  throw new Error('AI response is not valid JSON: ' + aiResponseText);\n}\n\nif (!extractedData.total_price || !extractedData.currency) {\n  throw new Error('Missing required fields: total_price or currency');\n}\n\n// Force total_price to a real number — GPT sometimes returns '1200 USD' or a string\nvar price = parseFloat(String(extractedData.total_price).replace(/[^0-9.]/g, ''));\nif (isNaN(price) || price <= 0 || price > 10000000) {\n  throw new Error('Invalid total_price from AI: ' + extractedData.total_price);\n}\nextractedData.total_price = price;\n\n// Force transit_days to integer if present\nif (extractedData.transit_days) {\n  var days = parseInt(extractedData.transit_days);\n  extractedData.transit_days = isNaN(days) ? null : days;\n}\n\nvar requestData = $('Code - Extract Request ID').first().json;\nvar forwarderData = $('PostgreSQL - Verify Forwarder').first().json;\n\nvar quotationId = requestData.request_id + '-' + forwarderData.forwarder_id.toString().split('-').pop();\nvar aiSummary = forwarderData.company_name + ' offers ' + extractedData.currency + ' ' + extractedData.total_price + ' for ' + (extractedData.transit_days || 'N/A') + ' days transit via ' + (extractedData.carrier || 'carrier TBD') + '.';\n\nreturn {\n  json: {\n    quotation_id: quotationId,\n    request_id: requestData.request_id,\n    forwarder_id: forwarderData.forwarder_id,\n    forwarder_email: forwarderData.email,\n    forwarder_company: forwarderData.company_name,\n    total_price: extractedData.total_price,\n    currency: extractedData.currency,\n    transit_days: extractedData.transit_days || null,\n    validity_days: extractedData.validity_days || 7,\n    carrier: extractedData.carrier || 'Not specified',\n    service_type: extractedData.service_type || 'Not specified',\n    surcharges: extractedData.surcharges || {},\n    is_hazardous: extractedData.is_hazardous || false,\n    is_stackable: extractedData.is_stackable !== false,\n    needs_insurance: extractedData.needs_insurance || false,\n    notes: extractedData.notes || '',\n    ai_summary: aiSummary,\n    raw_email: requestData.email_body,\n    status: 'ACTIVE',\n    received_at: requestData.received_at,\n    expires_at: new Date(Date.now() + (extractedData.validity_days || 7) * 24 * 60 * 60 * 1000).toISOString()\n  }\n};"
      },
      "id": "validate-ai-output",
      "name": "Code - Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "quotations"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "save-quotation",
      "name": "PostgreSQL - Save Quotation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE requests SET quotation_count = (SELECT COUNT(*) FROM quotations WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}') WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "update-count",
      "name": "PostgreSQL - Update Quote Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3100,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (forwarder_id, request_id, status, quoted_price, attempted_at, quoted_at) VALUES ('{{ $('Code - Validate AI Output').first().json.forwarder_id }}', '{{ $('Code - Validate AI Output').first().json.request_id }}', 'ANSWERED', {{ $('Code - Validate AI Output').first().json.total_price }}, NOW(), NOW()) ON CONFLICT (forwarder_id, request_id) DO UPDATE SET status = 'ANSWERED', quoted_price = EXCLUDED.quoted_price, quoted_at = NOW()",
        "options": {}
      },
      "id": "update-forwarder-status",
      "name": "PostgreSQL - Update Forwarder Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3320,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT request_id, quotation_count FROM requests WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "get-updated-count",
      "name": "PostgreSQL - Get Updated Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3540,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "reached-3-check",
              "leftValue": "={{ Number($json.quotation_count) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "check-3-quotes",
      "name": "Reached 3 Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "ZuzxW0OO0UNwa8hE",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $('Code - Extract Request ID').first().json.request_id }}"
          },
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf3",
      "name": "Execute Workflow - Trigger WF3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3980,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.email, u.full_name FROM requests r JOIN users u ON u.sovereign_id = r.user_sovereign_id WHERE r.request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "get-user-email",
      "name": "PostgreSQL - Get User Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3980,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=New quote received for {{ $('Code - Extract Request ID').first().json.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#1a1a1a;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>New Quotation Received</h1></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Dear {{ $json.full_name }},</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>A new quotation has been submitted for <strong>{{ $('Code - Extract Request ID').first().json.request_id }}</strong>.</p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;border:1px solid #e2e8f0;background:#f8fafc;border-radius:8px;margin:0 0 16px;border-collapse:collapse;'><tr><td style='padding:10px 16px;border-bottom:1px solid #e2e8f0;font-size:13px;color:#6b7280;'>Forwarder</td><td style='padding:10px 16px;border-bottom:1px solid #e2e8f0;font-size:13px;font-weight:700;color:#111827;text-align:right;'>{{ $('Code - Validate AI Output').first().json.forwarder_company }}</td></tr><tr><td style='padding:10px 16px;border-bottom:1px solid #e2e8f0;font-size:13px;color:#6b7280;'>Price</td><td style='padding:10px 16px;border-bottom:1px solid #e2e8f0;font-size:18px;font-weight:900;color:#1a1a1a;text-align:right;'>{{ $('Code - Validate AI Output').first().json.currency }} {{ $('Code - Validate AI Output').first().json.total_price }}</td></tr><tr><td style='padding:10px 16px;font-size:13px;color:#6b7280;'>Transit</td><td style='padding:10px 16px;font-size:13px;font-weight:700;color:#111827;text-align:right;'>{{ $('Code - Validate AI Output').first().json.transit_days || 'TBD' }} days</td></tr></table><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='https://cargolink.sa/dashboard/shipments' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>View All Quotes →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "notify-user",
      "name": "Gmail - Notify User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4200,
        100
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=Your quote for {{ $('Code - Extract Request ID').first().json.request_id }} received",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#1a1a1a;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Quote Submitted</h1></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Dear {{ $('PostgreSQL - Verify Forwarder').first().json.company_name }},</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>Your quotation for <strong>{{ $('Code - Extract Request ID').first().json.request_id }}</strong> has been received.</p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;margin:0 0 16px;'><tr><td style='padding:16px;text-align:center;'><p style='margin:0 0 4px;font-size:13px;color:#6b7280;'>Submitted Price</p><p style='margin:0;font-size:26px;font-weight:900;color:#1a1a1a;'>{{ $('Code - Validate AI Output').first().json.currency }} {{ $('Code - Validate AI Output').first().json.total_price }}</p></td></tr></table><p style='margin:0;font-size:13px;color:#6b7280;line-height:1.6;'>The shipper will be notified. If selected, you will receive a booking confirmation via CargoLink chat.</p></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "confirm-forwarder",
      "name": "Gmail - Confirm to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4200,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events_logs (event_type, request_id, description) VALUES ('QUOTE_RECEIVED', '{{ $('Code - Extract Request ID').first().json.request_id }}', 'Quote from {{ $('Code - Validate AI Output').first().json.forwarder_company }}') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-quote-received",
      "name": "PostgreSQL - Log Quote Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4420,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=Quote DECLINED - {{ $('Code - Extract Request ID').first().json.request_id }} already has 3 quotes",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#6b7280;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Quote Limit Reached</h1></td></tr><tr><td style='height:3px;background:#9ca3af;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 16px;font-size:14px;color:#374151;line-height:1.7;'>Thank you for your submission. This freight request already has <strong>3 quotations</strong> and is now closed for new replies.</p><p style='margin:0;font-size:13px;color:#6b7280;'>New freight requests are posted regularly — stay active to quote early.</p></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "send-declined-email",
      "name": "Gmail - Send DECLINED Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (request_id, forwarder_id, status, attempted_at) VALUES ('{{ $('Code - Extract Request ID').first().json.request_id }}', '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}', 'DECLINED_LATE', NOW()) ON CONFLICT (request_id, forwarder_id) DO UPDATE SET status = EXCLUDED.status, attempted_at = EXCLUDED.attempted_at",
        "options": {}
      },
      "id": "log-declined-status",
      "name": "PostgreSQL - Log DECLINED Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rejected_attempts (timestamp, sender_email, request_id, error_type, error_message) VALUES (NOW(), '{{ $('Code - Extract Request ID').first().json.sender_email }}', '{{ $('Code - Extract Request ID').first().json.request_id }}', 'REJECTED', 'Quote rejected') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-rejected",
      "name": "PostgreSQL - Log Rejected Attempt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=Request CLOSED - {{ $('Code - Extract Request ID').first().json.request_id }}",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#6b7280;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Request Closed</h1></td></tr><tr><td style='height:3px;background:#9ca3af;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 16px;font-size:14px;color:#374151;line-height:1.7;'>The freight request you replied to is <strong>closed</strong> and no longer accepting quotations.</p><p style='margin:0;font-size:13px;color:#6b7280;'>Thank you for your interest. New requests are posted regularly on CargoLink.</p></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "send-closed-email",
      "name": "Gmail - Send Request CLOSED Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (request_id, forwarder_id, status, attempted_at) VALUES ('{{ $('Code - Extract Request ID').first().json.request_id }}', '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}', 'DUPLICATE', NOW()) ON CONFLICT (request_id, forwarder_id) DO UPDATE SET status = EXCLUDED.status, attempted_at = EXCLUDED.attempted_at",
        "options": {}
      },
      "id": "log-duplicate-status",
      "name": "PostgreSQL - Log DUPLICATE Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2220,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "Registration Required - CargoLink Platform",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#dc2626;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Unrecognized Sender</h1></td></tr><tr><td style='height:3px;background:#ef4444;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 16px;font-size:14px;color:#374151;line-height:1.7;'>Your email <strong>{{ $('Code - Extract Request ID').first().json.sender_email }}</strong> is not registered in the CargoLink partner network.</p><div style='background:#fef2f2;border:1px solid #fecaca;border-radius:8px;padding:14px;margin:0 0 16px;'><p style='margin:0;font-size:13px;color:#dc2626;'>To submit quotations you must register as a verified freight forwarder.</p></div><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#dc2626;border-radius:8px;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;margin:0 auto 14px;width:160px;height:auto;border:0;outline:none;max-width:100%;' /><a href='https://cargolink.sa/forwarders/register' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Register as a Forwarder →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "send-unknown-sender",
      "name": "Gmail - Unknown Sender Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Monitor Inbox": {
      "main": [
        [
          {
            "node": "Code - Extract Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Request ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Verify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Verify Forwarder": {
      "main": [
        [
          {
            "node": "Forwarder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forwarder Exists?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Check Request Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Unknown Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Check Request Status": {
      "main": [
        [
          {
            "node": "Request is OPEN?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request is OPEN?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Count Existing Quotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send Request CLOSED Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Count Existing Quotes": {
      "main": [
        [
          {
            "node": "Less than 3 Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Less than 3 Quotes?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send DECLINED Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Check Duplicate": {
      "main": [
        [
          {
            "node": "Not Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Duplicate?": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4 - Extract Quotation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Log DUPLICATE Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log DUPLICATE Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Rejected Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 - Extract Quotation": {
      "main": [
        [
          {
            "node": "Code - Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate AI Output": {
      "main": [
        [
          {
            "node": "PostgreSQL - Save Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Save Quotation": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Quote Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Quote Count": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Forwarder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Forwarder Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Updated Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Updated Count": {
      "main": [
        [
          {
            "node": "Reached 3 Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached 3 Quotes?": {
      "main": [
        [
          {
            "node": "Execute Workflow - Trigger WF3",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL - Get User Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Get User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get User Email": {
      "main": [
        [
          {
            "node": "Gmail - Notify User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Confirm to Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Notify User": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Quote Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Confirm to Forwarder": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Quote Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send DECLINED Email": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log DECLINED Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log DECLINED Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Rejected Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "3",
  "id": "mwvOIioYMGzwTqc7"
}