n8n_plan/WF2_FIXED.json
{
  "name": "WF2 - CargoLink Process Quotation Replies (AI + 3-Quote Limit)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": true,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "includeSpamTrash": false
        },
        "options": {
          "attachments": false,
          "q": "subject:(REQ OR OMEGO OR Quote)"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger - Monitor Inbox",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Gmail trigger returns capital From/Subject at top level\nvar subject = $json.Subject || $json.subject || '';\nvar from = $json.From || $json.from || '';\nvar body = $json.textPlain || $json.textHtml || '';\n\n// Try payload.headers as fallback\nif ((!subject || !from) && $json.payload && $json.payload.headers) {\n  var headers = $json.payload.headers;\n  for (var i = 0; i < headers.length; i++) {\n    if (headers[i].name === 'Subject' || headers[i].name === 'subject') subject = headers[i].value;\n    if (headers[i].name === 'From' || headers[i].name === 'from') from = headers[i].value;\n  }\n}\n\n// Use snippet as body fallback\nif (!body) body = $json.snippet || '';\n\n// Find OMEGO-XXXX-REQ-XX in subject or body\nvar regex = /[A-Z0-9-]+-REQ-\\d+/i;\nvar match = subject.match(regex) || body.match(regex);\nif (!match) throw new Error('Request ID not found. Subject: ' + subject);\n\nvar requestId = match[0].toUpperCase();\n\n// Extract sender email\nvar emailRegex = /<(.+?)>|([\\w.-]+@[\\w.-]+\\.\\w+)/;\nvar emailMatch = from.match(emailRegex);\nvar senderEmail = emailMatch ? (emailMatch[1] || emailMatch[2]) : from;\n\nreturn {\n  json: {\n    request_id: requestId,\n    sender_email: senderEmail.toLowerCase().trim(),\n    email_subject: subject,\n    email_body: body,\n    received_at: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-request-id",
      "name": "Code - Extract Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM forwarders WHERE LOWER(email) = LOWER('{{ $json.sender_email }}') AND (status = 'APPROVED' OR status = 'ACTIVE')",
        "options": {}
      },
      "id": "verify-forwarder",
      "name": "PostgreSQL - Verify Forwarder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "forwarder-exists-check",
              "leftValue": "={{ $json.forwarder_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-forwarder-exists",
      "name": "Forwarder Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, quotation_count FROM requests WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "check-request-status",
      "name": "PostgreSQL - Check Request Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-open-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "OPEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-is-open",
      "name": "Request is OPEN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as existing_count FROM quotations WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "count-existing-quotes",
      "name": "PostgreSQL - Count Existing Quotes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "under-3-check",
              "leftValue": "={{ Number($json.existing_count) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-under-3-quotes",
      "name": "Less than 3 Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as duplicate_count FROM quotations WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}' AND forwarder_id = '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}'",
        "options": {}
      },
      "id": "check-duplicate",
      "name": "PostgreSQL - Check Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-duplicate-check",
              "leftValue": "={{ Number($json.duplicate_count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-not-duplicate",
      "name": "Not Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a freight quotation extraction AI. Extract structured data from forwarder quotation emails.\\n\\nExtract these fields:\\n- total_price: numeric price only (no currency symbols)\\n- currency: currency code (USD, EUR, etc.)\\n- transit_days: transit time in days (number only)\\n- validity_days: quote validity in days (default 7 if not mentioned)\\n- carrier: shipping line name\\n- service_type: FCL, LCL, Air Freight, etc.\\n- surcharges: JSON object of extra costs or null\\n- is_hazardous: boolean\\n- is_stackable: boolean (true by default)\\n- needs_insurance: boolean\\n- notes: any additional info\\n\\nRespond ONLY with a valid JSON object. No markdown, no explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Code - Extract Request ID').first().json.email_body) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "ai-extract",
      "name": "OpenAI GPT-4 - Extract Quotation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var openaiResponse = $json;\nvar aiResponseText = '';\n\nif (openaiResponse.choices && openaiResponse.choices[0] && openaiResponse.choices[0].message) {\n  aiResponseText = openaiResponse.choices[0].message.content;\n} else {\n  throw new Error('Could not find AI response: ' + JSON.stringify(openaiResponse));\n}\n\nvar extractedData;\ntry {\n  var cleanedResponse = aiResponseText.replace(/```json\\n|```/g, '').trim();\n  extractedData = JSON.parse(cleanedResponse);\n} catch (e) {\n  throw new Error('AI response is not valid JSON: ' + aiResponseText);\n}\n\nif (!extractedData.total_price || !extractedData.currency) {\n  throw new Error('Missing required fields: total_price or currency');\n}\n\n// Force total_price to a real number — GPT sometimes returns '1200 USD' or a string\nvar price = parseFloat(String(extractedData.total_price).replace(/[^0-9.]/g, ''));\nif (isNaN(price) || price <= 0 || price > 10000000) {\n  throw new Error('Invalid total_price from AI: ' + extractedData.total_price);\n}\nextractedData.total_price = price;\n\n// Force transit_days to integer if present\nif (extractedData.transit_days) {\n  var days = parseInt(extractedData.transit_days);\n  extractedData.transit_days = isNaN(days) ? null : days;\n}\n\nvar requestData = $('Code - Extract Request ID').first().json;\nvar forwarderData = $('PostgreSQL - Verify Forwarder').first().json;\n\nvar quotationId = requestData.request_id + '-' + forwarderData.forwarder_id.toString().split('-').pop();\nvar aiSummary = forwarderData.company_name + ' offers ' + extractedData.currency + ' ' + extractedData.total_price + ' for ' + (extractedData.transit_days || 'N/A') + ' days transit via ' + (extractedData.carrier || 'carrier TBD') + '.';\n\nreturn {\n  json: {\n    quotation_id: quotationId,\n    request_id: requestData.request_id,\n    forwarder_id: forwarderData.forwarder_id,\n    forwarder_email: forwarderData.email,\n    forwarder_company: forwarderData.company_name,\n    total_price: extractedData.total_price,\n    currency: extractedData.currency,\n    transit_days: extractedData.transit_days || null,\n    validity_days: extractedData.validity_days || 7,\n    carrier: extractedData.carrier || 'Not specified',\n    service_type: extractedData.service_type || 'Not specified',\n    surcharges: extractedData.surcharges || {},\n    is_hazardous: extractedData.is_hazardous || false,\n    is_stackable: extractedData.is_stackable !== false,\n    needs_insurance: extractedData.needs_insurance || false,\n    notes: extractedData.notes || '',\n    ai_summary: aiSummary,\n    raw_email: requestData.email_body,\n    status: 'ACTIVE',\n    received_at: requestData.received_at,\n    expires_at: new Date(Date.now() + (extractedData.validity_days || 7) * 24 * 60 * 60 * 1000).toISOString()\n  }\n};"
      },
      "id": "validate-ai-output",
      "name": "Code - Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "quotations"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "save-quotation",
      "name": "PostgreSQL - Save Quotation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE requests SET quotation_count = quotation_count + 1 WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "update-count",
      "name": "PostgreSQL - Update Quote Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3100,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (forwarder_id, request_id, status, quoted_price, attempted_at, quoted_at) VALUES ('{{ $('Code - Validate AI Output').first().json.forwarder_id }}', '{{ $('Code - Validate AI Output').first().json.request_id }}', 'ANSWERED', {{ $('Code - Validate AI Output').first().json.total_price }}, NOW(), NOW()) ON CONFLICT (forwarder_id, request_id) DO UPDATE SET status = 'ANSWERED', quoted_price = EXCLUDED.quoted_price, quoted_at = NOW()",
        "options": {}
      },
      "id": "update-forwarder-status",
      "name": "PostgreSQL - Update Forwarder Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3320,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT request_id, quotation_count FROM requests WHERE request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "get-updated-count",
      "name": "PostgreSQL - Get Updated Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3540,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "reached-3-check",
              "leftValue": "={{ Number($json.quotation_count) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-3-quotes",
      "name": "Reached 3 Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "ZuzxW0OO0UNwa8hE",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $('Code - Extract Request ID').first().json.request_id }}"
          },
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf3",
      "name": "Execute Workflow - Trigger WF3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3980,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.email, u.full_name FROM requests r JOIN users u ON u.sovereign_id = r.user_sovereign_id WHERE r.request_id = '{{ $('Code - Extract Request ID').first().json.request_id }}'",
        "options": {}
      },
      "id": "get-user-email",
      "name": "PostgreSQL - Get User Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3980,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=🎉 New quote received for {{ $('Code - Extract Request ID').first().json.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;\"><div style=\"max-width:600px;margin:0 auto;\"><div style=\"background:#28A745;color:white;padding:30px;text-align:center;\"><h1>🎉 New Quotation Received!</h1></div><div style=\"padding:30px;\"><p>Dear {{ $json.full_name }},</p><p>A new quotation has been submitted for <strong>{{ $('Code - Extract Request ID').first().json.request_id }}</strong>.</p><div style=\"background:#E8F4F8;padding:20px;border-radius:5px;border-left:4px solid #2E75B6;margin:20px 0;\"><h3 style=\"margin-top:0;\">{{ $('Code - Validate AI Output').first().json.forwarder_company }}</h3><div style=\"font-size:32px;font-weight:bold;color:#2E75B6;\">{{ $('Code - Validate AI Output').first().json.currency }} {{ $('Code - Validate AI Output').first().json.total_price }}</div><p><strong>Transit:</strong> {{ $('Code - Validate AI Output').first().json.transit_days || 'TBD' }} days via {{ $('Code - Validate AI Output').first().json.carrier }}</p></div><p><strong>Quotes received:</strong> {{ $('PostgreSQL - Get Updated Count').first().json.quotation_count }}/3</p></div></div></body></html>",
        "options": {}
      },
      "id": "notify-user",
      "name": "Gmail - Notify User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4200,
        100
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=✅ Your quote for {{ $('Code - Extract Request ID').first().json.request_id }} received",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;\"><div style=\"max-width:600px;margin:0 auto;\"><div style=\"background:#28A745;color:white;padding:30px;text-align:center;\"><h1>✅ Quotation Submitted!</h1></div><div style=\"padding:30px;\"><p>Dear {{ $('PostgreSQL - Verify Forwarder').first().json.company_name }},</p><p>Your quotation for <strong>{{ $('Code - Extract Request ID').first().json.request_id }}</strong> has been received and processed.</p><div style=\"background:#D4EDDA;border:2px solid #28A745;padding:20px;border-radius:5px;margin:20px 0;text-align:center;\"><h2 style=\"margin:0;color:#28A745;\">✓ STATUS: ANSWERED</h2></div><ul><li>Price: {{ $('Code - Validate AI Output').first().json.currency }} {{ $('Code - Validate AI Output').first().json.total_price }}</li><li>Transit: {{ $('Code - Validate AI Output').first().json.transit_days || 'TBD' }} days</li><li>Valid for: {{ $('Code - Validate AI Output').first().json.validity_days }} days</li></ul></div></div></body></html>",
        "options": {}
      },
      "id": "confirm-forwarder",
      "name": "Gmail - Confirm to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4200,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events_logs (event_type, request_id, description) VALUES ('QUOTE_RECEIVED', '{{ $('Code - Extract Request ID').first().json.request_id }}', 'Quote from {{ $('Code - Validate AI Output').first().json.forwarder_company }}') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-quote-received",
      "name": "PostgreSQL - Log Quote Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4420,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=❌ Quote DECLINED - {{ $('Code - Extract Request ID').first().json.request_id }} already has 3 quotes",
        "emailType": "html",
        "message": "=<p>Thank you for your quote. This request already has 3 quotations and is now closed.</p>",
        "options": {}
      },
      "id": "send-declined-email",
      "name": "Gmail - Send DECLINED Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (request_id, forwarder_id, status, attempted_at) VALUES ('{{ $('Code - Extract Request ID').first().json.request_id }}', '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}', 'DECLINED_LATE', NOW()) ON CONFLICT (request_id, forwarder_id) DO UPDATE SET status = EXCLUDED.status, attempted_at = EXCLUDED.attempted_at",
        "options": {}
      },
      "id": "log-declined-status",
      "name": "PostgreSQL - Log DECLINED Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rejected_attempts (timestamp, sender_email, request_id, error_type, error_message) VALUES (NOW(), '{{ $('Code - Extract Request ID').first().json.sender_email }}', '{{ $('Code - Extract Request ID').first().json.request_id }}', 'REJECTED', 'Quote rejected') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "log-rejected",
      "name": "PostgreSQL - Log Rejected Attempt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "=❌ Request CLOSED - {{ $('Code - Extract Request ID').first().json.request_id }}",
        "message": "=This request is CLOSED and no longer accepting quotations. Thank you for your interest.\n\nCargoLink Platform",
        "options": {}
      },
      "id": "send-closed-email",
      "name": "Gmail - Send Request CLOSED Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO forwarder_bid_status (request_id, forwarder_id, status, attempted_at) VALUES ('{{ $('Code - Extract Request ID').first().json.request_id }}', '{{ $('PostgreSQL - Verify Forwarder').first().json.forwarder_id }}', 'DUPLICATE', NOW()) ON CONFLICT (request_id, forwarder_id) DO UPDATE SET status = EXCLUDED.status, attempted_at = EXCLUDED.attempted_at",
        "options": {}
      },
      "id": "log-duplicate-status",
      "name": "PostgreSQL - Log DUPLICATE Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2220,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code - Extract Request ID').first().json.sender_email }}",
        "subject": "❌ Registration Required - CargoLink Platform",
        "message": "=Your email ({{ $('Code - Extract Request ID').first().json.sender_email }}) is not registered in our CargoLink partner network.\n\nPlease register at: https://cargolink.sa/forwarders/register\n\nCargoLink Platform",
        "options": {}
      },
      "id": "send-unknown-sender",
      "name": "Gmail - Unknown Sender Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Monitor Inbox": {
      "main": [
        [
          {
            "node": "Code - Extract Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Request ID": {
      "main": [
        [
          {
            "node": "PostgreSQL - Verify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Verify Forwarder": {
      "main": [
        [
          {
            "node": "Forwarder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forwarder Exists?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Check Request Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Unknown Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Check Request Status": {
      "main": [
        [
          {
            "node": "Request is OPEN?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request is OPEN?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Count Existing Quotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send Request CLOSED Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Count Existing Quotes": {
      "main": [
        [
          {
            "node": "Less than 3 Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Less than 3 Quotes?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send DECLINED Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Check Duplicate": {
      "main": [
        [
          {
            "node": "Not Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Duplicate?": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4 - Extract Quotation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Log DUPLICATE Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log DUPLICATE Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Rejected Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 - Extract Quotation": {
      "main": [
        [
          {
            "node": "Code - Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate AI Output": {
      "main": [
        [
          {
            "node": "PostgreSQL - Save Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Save Quotation": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Quote Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Quote Count": {
      "main": [
        [
          {
            "node": "PostgreSQL - Update Forwarder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Update Forwarder Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Updated Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Updated Count": {
      "main": [
        [
          {
            "node": "Reached 3 Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reached 3 Quotes?": {
      "main": [
        [
          {
            "node": "Execute Workflow - Trigger WF3",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostgreSQL - Get User Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL - Get User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get User Email": {
      "main": [
        [
          {
            "node": "Gmail - Notify User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Confirm to Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Notify User": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Quote Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Confirm to Forwarder": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Quote Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send DECLINED Email": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log DECLINED Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Log DECLINED Status": {
      "main": [
        [
          {
            "node": "PostgreSQL - Log Rejected Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T00:00:00.000Z",
  "versionId": "3",
  "id": "mwvOIioYMGzwTqc7"
}