n8n_plan/WF4_Forwarder_Registration.json
{
  "name": "WF4 - CargoLink Forwarder Registration Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forwarder-register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Registration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "cargolink-forwarder-register"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.body || $json;\n\nif (!d.email || !d.company_name) throw new Error('Missing required fields: email or company_name');\n\nreturn {\n  json: {\n    forwarder_id: d.forwarder_id || '',\n    company_name: d.company_name,\n    contact_person: d.contact_person || 'N/A',\n    email: d.email,\n    company_email: d.company_email || d.email,\n    phone: d.phone || 'N/A',\n    whatsapp: d.whatsapp || d.phone || 'N/A',\n    country: d.country || 'N/A',\n    specializations: Array.isArray(d.specializations) ? d.specializations.join(', ') : (d.specializations || 'N/A'),\n    routes: Array.isArray(d.routes) ? d.routes.join(', ') : (d.routes || 'N/A'),\n    tax_id: d.tax_id || 'N/A',\n    website: d.website || 'N/A',\n    document_url: d.document_url || '',\n    logo_url: d.logo_url || '',\n    registered_at: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-payload",
      "name": "Code - Parse & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_FORWARDERS_DOC_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Registrations"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "forwarder_id",
              "displayName": "forwarder_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "contact_person",
              "displayName": "contact_person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "specializations",
              "displayName": "specializations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "routes",
              "displayName": "routes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "tax_id",
              "displayName": "tax_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "registered_at",
              "displayName": "registered_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Google Sheets - Log Registration",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        680,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uzUh6HqKP03Ck9VO",
          "name": "Google Sheets OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $('Code - Parse & Normalize').first().json;\n\nconst message = `*New Partner Application*\\n\\n*Company:* ${d.company_name}\\n*Contact:* ${d.contact_person}\\n*Email:* ${d.email}\\n*Phone:* ${d.phone}\\n*WhatsApp:* ${d.whatsapp}\\n*Country:* ${d.country}\\n*Specializations:* ${d.specializations}\\n*Routes:* ${d.routes}\\n*Tax ID:* ${d.tax_id}\\n*Partner ID:* ${d.forwarder_id}\\n\\nReview in admin panel: https://cargolink.sa/admin`;\n\nreturn { json: { message, phone: d.whatsapp } };"
      },
      "id": "build-whatsapp",
      "name": "Code - Build WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.whatsapp.com/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env.ADMIN_WHATSAPP_NUMBER }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.message) }} }\n}",
        "options": {
          "headers": {
            "parameter": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
              }
            ]
          }
        }
      },
      "id": "send-whatsapp",
      "name": "HTTP - Send WhatsApp to Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $('Code - Parse & Normalize').first().json;\n\nconst emailBody = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f0f4f8;\"><tr><td align=\"center\" style=\"padding:32px 16px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);\"><tr><td style=\"background:#1a1a1a;padding:36px 32px 28px;text-align:center;\"><img src=\"https://cargolink.sa/cargolink.png\" alt=\"CargoLink\" width=\"160\" style=\"display:block;margin:0 auto 16px;max-width:160px;height:auto;\" /><h1 style=\"margin:0 0 8px;font-size:24px;font-weight:900;color:#ffffff;letter-spacing:1px;\">Application Received</h1><p style=\"margin:0;font-size:14px;color:rgba(255,255,255,0.7);\">CargoLink Partner Network</p></td></tr><tr><td style=\"padding:36px 32px;\"><p style=\"margin:0 0 16px;font-size:15px;color:#333;\">Dear <strong>${d.contact_person}</strong>,</p><p style=\"margin:0 0 20px;font-size:15px;color:#333;\">Thank you for applying to join the <strong>CargoLink freight partner network</strong>. We have received your application for <strong>${d.company_name}</strong> and it is currently under review.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f5f5f5;border-left:4px solid #374151;border-radius:6px;margin:0 0 24px;\"><tr><td style=\"padding:20px;\"><p style=\"margin:4px 0;font-size:14px;color:#333;\"><strong>Application Reference:</strong> ${d.forwarder_id}</p><p style=\"margin:4px 0;font-size:14px;color:#333;\"><strong>Company:</strong> ${d.company_name}</p><p style=\"margin:4px 0;font-size:14px;color:#333;\"><strong>Country:</strong> ${d.country}</p><p style=\"margin:4px 0;font-size:14px;color:#333;\"><strong>Submitted:</strong> ${new Date().toLocaleDateString('en-GB',{day:'numeric',month:'long',year:'numeric'})}</p></td></tr></table><p style=\"margin:0 0 12px;font-size:15px;font-weight:700;color:#1a1a1a;\">What happens next?</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f9f9f9;border-radius:8px;margin:0 0 24px;\"><tr><td style=\"padding:20px 20px 20px 24px;\"><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">1. Our team will verify your company details and documentation.</p><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">2. You will receive a decision by email within 2–3 business days.</p><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">3. If approved, you will get your Partner ID and access to the Forwarder Portal.</p><p style=\"margin:0;font-size:14px;color:#444;\">4. If we need additional information, we will reach out directly.</p></td></tr></table><p style=\"margin:0;font-size:13px;color:#888;\">Questions? Reply to this email or visit our <a href=\"https://cargolink.sa/help\" style=\"color:#374151;\">Help Center</a>.</p></td></tr><tr><td style=\"background:#f8f8f8;padding:20px 32px;text-align:center;border-top:1px solid #eee;\"><p style=\"margin:0 0 4px;font-size:12px;color:#888;\"><strong>CargoLink Platform</strong> — Connecting shippers with the world's best freight forwarders</p><p style=\"margin:0;font-size:11px;color:#aaa;\">© 2025 CargoLink. All rights reserved.</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn { json: { ...d, email_body: emailBody } };"
      },
      "id": "build-confirmation-email",
      "name": "Code - Build Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        440
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ 'Application Received — ' + $json.company_name + ' | CargoLink' }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Gmail - Send Confirmation to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Registration logged, admin notified, confirmation email sent.\", \"forwarder_id\": \"{{ $('Code - Parse & Normalize').first().json.forwarder_id }}\" }"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - New Registration": {
      "main": [
        [
          {
            "node": "Code - Parse & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse & Normalize": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Registration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Build WhatsApp Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Registration": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build WhatsApp Message": {
      "main": [
        [
          {
            "node": "HTTP - Send WhatsApp to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Send WhatsApp to Admin": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Confirmation to Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Confirmation to Forwarder": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1",
  "id": "OGaa9J0wlk1NBAT0"
}