n8n_plan/WF5_Forwarder_Decision_Email.json
{
  "name": "WF5 - CargoLink Forwarder Approval / Rejection Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forwarder-decision",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Decision from Admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "cargolink-forwarder-decision"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.body || $json;\nconst decision = d.decision;\nconst company = d.company_name;\nconst contact = d.contact_person || 'Partner';\nconst forwarderId = d.forwarder_id;\nconst newId = d.new_sovereign_id || forwarderId;\nconst email = d.email;\nconst country = d.country || '';\n\nif (!decision || !email) throw new Error('Missing decision or email in payload');\n\nreturn {\n  json: {\n    decision,\n    company_name: company,\n    contact_person: contact,\n    forwarder_id: forwarderId,\n    new_sovereign_id: newId,\n    email,\n    country,\n    is_approved: decision === 'APPROVED'\n  }\n};"
      },
      "id": "parse-payload",
      "name": "Code - Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.is_approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "decision-branch",
      "name": "Approved or Rejected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ 'Partner Application Approved — ' + $json.forwarder_id + ' | CargoLink' }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-approved-email",
      "name": "Gmail - Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        160
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ 'Update on Your CargoLink Partner Application — ' + $json.company_name }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-rejected-email",
      "name": "Gmail - Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background: #f4f4f4; margin: 0; padding: 0; }\n    .container { max-width: 640px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #28A745 0%, #1e7e34 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0 0 10px 0; font-size: 28px; }\n    .content { padding: 40px 30px; }\n    .id-box { background: #E8F5E9; border: 2px solid #28A745; border-radius: 6px; padding: 20px; margin: 24px 0; text-align: center; }\n    .id-box p { margin: 4px 0; font-size: 14px; color: #555; }\n    .id-box strong { font-size: 22px; color: #28A745; letter-spacing: 1px; }\n    .cta-button { display: inline-block; background: #2E75B6; color: white; padding: 14px 36px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 15px; margin: 20px 0; }\n    .steps { background: #f9f9f9; border-radius: 6px; padding: 20px 20px 20px 36px; margin: 20px 0; }\n    .steps li { margin-bottom: 10px; }\n    .footer { background: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; color: #888; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><div style=\"text-align:center;margin-bottom:20px\"><div style=\"background:#fff;display:inline-block;border-radius:10px;padding:10px 24px\"><img src=\"https://cargolink.sa/cargolink.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block\" /></div></div>\n      <h1>✅ Application Approved!</h1>\n      <p style=\"margin:0;font-size:16px;opacity:0.9;\">Welcome to the CargoLink Partner Network</p>\n    </div>\n    <div class=\"content\">\n      <p>Dear <strong>${d.contact_person}</strong>,</p>\n      <p>We are pleased to inform you that <strong>${d.company_name}</strong>'s application to join the CargoLink freight partner network has been <strong style=\"color:#28A745;\">approved</strong>.</p>\n\n      <div class=\"id-box\">\n        <p>Your Partner ID</p>\n        <strong>${d.new_sovereign_id}</strong>\n        <p style=\"margin-top:8px;font-size:12px;color:#888;\">Use this ID along with your registered email to log in to the forwarder portal.</p>\n      </div>\n\n      <h3 style=\"color:#2E75B6;\">Getting Started</h3>\n      <ol class=\"steps\">\n        <li>Log in to the <a href=\"https://cargolink.sa/forwarders/portal\" style=\"color:#2E75B6;\">Forwarder Portal</a> using your Partner ID and email.</li>\n        <li>Complete your company profile and upload your logo.</li>\n        <li>You will start receiving cargo requests that match your specializations and routes.</li>\n        <li>Reply to request emails with your quotation — our AI will extract and present it to the shipper.</li>\n      </ol>\n\n      <div style=\"text-align:center;\">\n        <a href=\"https://cargolink.sa/forwarders/portal\" class=\"cta-button\">Access Forwarder Portal</a>\n      </div>\n\n      <p style=\"font-size:13px;color:#666;margin-top:30px;\">If you have any questions, reply to this email or visit our <a href=\"https://cargolink.sa/help\" style=\"color:#2E75B6;\">Help Center</a>.</p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>CargoLink Platform</strong> — Connecting shippers with the world's best freight forwarders</p>\n      <p>© 2025 CargoLink. All rights reserved.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn { json: { ...d, email_body: emailBody } };"
      },
      "id": "build-approval-email",
      "name": "Code - Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background: #f4f4f4; margin: 0; padding: 0; }\n    .container { max-width: 640px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #5a5a5a 0%, #333 100%); color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0 0 10px 0; font-size: 28px; }\n    .content { padding: 40px 30px; }\n    .notice-box { background: #FFF3F3; border: 1px solid #f5c6cb; border-radius: 6px; padding: 20px; margin: 24px 0; }\n    .footer { background: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; color: #888; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><div style=\"text-align:center;margin-bottom:20px\"><div style=\"background:#fff;display:inline-block;border-radius:10px;padding:10px 24px\"><img src=\"https://cargolink.sa/cargolink.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block\" /></div></div>\n      <h1>Application Update</h1>\n      <p style=\"margin:0;font-size:16px;opacity:0.9;\">CargoLink Partner Network</p>\n    </div>\n    <div class=\"content\">\n      <p>Dear <strong>${d.contact_person}</strong>,</p>\n      <p>Thank you for your interest in joining the CargoLink freight partner network.</p>\n\n      <div class=\"notice-box\">\n        <p style=\"margin:0;\">After reviewing your application for <strong>${d.company_name}</strong>, we are unable to approve it at this time.</p>\n      </div>\n\n      <p>This may be due to incomplete documentation, coverage gaps, or our current capacity in your region. You are welcome to reapply after addressing these areas.</p>\n\n      <p>If you believe this decision was made in error or would like further clarification, please contact our partner support team by replying to this email.</p>\n\n      <p style=\"font-size:13px;color:#666;margin-top:30px;\">We appreciate the time you invested in your application and wish you the best.</p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>CargoLink Platform</strong> — Partner Support</p>\n      <p>© 2025 CargoLink. All rights reserved.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn { json: { ...d, email_body: emailBody } };"
      },
      "id": "build-rejection-email",
      "name": "Code - Build Rejection Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, decision: $('Code - Parse Payload').first().json.decision, email_sent_to: $('Code - Parse Payload').first().json.email }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Decision from Admin": {
      "main": [
        [
          {
            "node": "Code - Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Payload": {
      "main": [
        [
          {
            "node": "Approved or Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved or Rejected?": {
      "main": [
        [
          {
            "node": "Code - Build Approval Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Build Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Approval Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Rejection Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Approval Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Rejection Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1",
  "id": "FDiPoswoP18EeU8e"
}