n8n_plan/WF5_Forwarder_Decision_Email.json
{
  "name": "WF5 - CargoLink Forwarder Approval / Rejection Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forwarder-decision",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Decision from Admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "cargolink-forwarder-decision"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.body || $json;\nconst decision = d.decision;\nconst company = d.company_name;\nconst contact = d.contact_person || 'Partner';\nconst forwarderId = d.forwarder_id;\nconst newId = d.new_sovereign_id || forwarderId;\nconst email = d.email;\nconst country = d.country || '';\n\nif (!decision || !email) throw new Error('Missing decision or email in payload');\n\nreturn {\n  json: {\n    decision,\n    company_name: company,\n    contact_person: contact,\n    forwarder_id: forwarderId,\n    new_sovereign_id: newId,\n    email,\n    country,\n    is_approved: decision === 'APPROVED'\n  }\n};"
      },
      "id": "parse-payload",
      "name": "Code - Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.is_approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "decision-branch",
      "name": "Approved or Rejected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ 'Partner Application Approved — ' + $json.forwarder_id + ' | CargoLink' }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-approved-email",
      "name": "Gmail - Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        160
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ 'Update on Your CargoLink Partner Application — ' + $json.company_name }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-rejected-email",
      "name": "Gmail - Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst emailBody = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f0f4f8;\"><tr><td align=\"center\" style=\"padding:32px 16px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);\"><tr><td style=\"background:#1a1a1a;padding:36px 32px 28px;text-align:center;\"><img src=\"https://cargolink.sa/cargolink-gray.png\" alt=\"CargoLink\" width=\"160\" style=\"display:inline-block;max-width:160px;height:auto;\" /><h1 style=\"margin:0 0 8px;font-size:24px;font-weight:900;color:#ffffff;letter-spacing:1px;\">Application Approved</h1><p style=\"margin:0;font-size:14px;color:rgba(255,255,255,0.7);\">Welcome to the CargoLink Partner Network</p></td></tr><tr><td style=\"padding:36px 32px;\"><p style=\"margin:0 0 16px;font-size:15px;color:#333;\">Dear <strong>${d.contact_person}</strong>,</p><p style=\"margin:0 0 20px;font-size:15px;color:#333;\">We are pleased to inform you that <strong>${d.company_name}</strong>'s application to join the CargoLink freight partner network has been <strong style=\"color:#1a1a1a;\">approved</strong>.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f5f5f5;border:2px solid #374151;border-radius:8px;margin:0 0 24px;\"><tr><td style=\"padding:24px;text-align:center;\"><p style=\"margin:0 0 4px;font-size:13px;color:#666;\">Your Partner ID</p><p style=\"margin:0 0 8px;font-size:26px;font-weight:900;color:#1a1a1a;letter-spacing:2px;\">${d.new_sovereign_id}</p><p style=\"margin:0;font-size:12px;color:#888;\">Use this ID + your registered email to log in to the portal.</p></td></tr></table><p style=\"margin:0 0 12px;font-size:15px;font-weight:700;color:#1a1a1a;\">Getting Started</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f9f9f9;border-radius:8px;margin:0 0 24px;\"><tr><td style=\"padding:20px 20px 20px 24px;\"><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">1. Log in to the <a href=\"https://cargolink.sa/forwarders/portal\" style=\"color:#374151;\">Forwarder Portal</a> using your Partner ID and email.</p><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">2. Complete your company profile and upload your logo.</p><p style=\"margin:0 0 10px;font-size:14px;color:#444;\">3. You will start receiving cargo requests matching your specializations.</p><p style=\"margin:0;font-size:14px;color:#444;\">4. Reply to request emails with your quotation — our AI will extract it automatically.</p></td></tr></table><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"padding:8px 0 24px;\"><a href=\"https://cargolink.sa/forwarders/portal\" style=\"display:inline-block;background:#1a1a1a;color:#ffffff;padding:14px 36px;text-decoration:none;border-radius:8px;font-weight:700;font-size:14px;letter-spacing:0.5px;\">Access Forwarder Portal</a></td></tr></table><p style=\"margin:0;font-size:13px;color:#888;\">Questions? Reply to this email or visit our <a href=\"https://cargolink.sa/help\" style=\"color:#374151;\">Help Center</a>.</p></td></tr><tr><td style=\"background:#f8f8f8;padding:20px 32px;text-align:center;border-top:1px solid #eee;\"><p style=\"margin:0 0 4px;font-size:12px;color:#888;\"><strong>CargoLink Platform</strong> — Connecting shippers with the world's best freight forwarders</p><p style=\"margin:0;font-size:11px;color:#aaa;\">© 2025 CargoLink. All rights reserved.</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn { json: { ...d, email_body: emailBody } };"
      },
      "id": "build-approval-email",
      "name": "Code - Build Approval Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst emailBody = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head><body style=\"margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f0f4f8;\"><tr><td align=\"center\" style=\"padding:32px 16px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);\"><tr><td style=\"background:#374151;padding:36px 32px 28px;text-align:center;\"><img src=\"https://cargolink.sa/cargolink-gray.png\" alt=\"CargoLink\" width=\"160\" style=\"display:inline-block;max-width:160px;height:auto;\" /><h1 style=\"margin:0 0 8px;font-size:24px;font-weight:900;color:#ffffff;letter-spacing:1px;\">Application Update</h1><p style=\"margin:0;font-size:14px;color:rgba(255,255,255,0.7);\">CargoLink Partner Network</p></td></tr><tr><td style=\"padding:36px 32px;\"><p style=\"margin:0 0 16px;font-size:15px;color:#333;\">Dear <strong>${d.contact_person}</strong>,</p><p style=\"margin:0 0 20px;font-size:15px;color:#333;\">Thank you for your interest in joining the CargoLink freight partner network.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#fff3f3;border:1px solid #f5c6cb;border-radius:8px;margin:0 0 24px;\"><tr><td style=\"padding:20px;\"><p style=\"margin:0;font-size:14px;color:#555;\">After reviewing your application for <strong>${d.company_name}</strong>, we are unable to approve it at this time. This may be due to incomplete documentation, coverage gaps, or our current capacity in your region.</p></td></tr></table><p style=\"margin:0 0 16px;font-size:15px;color:#333;\">You are welcome to reapply after addressing these areas. If you believe this decision was made in error or would like further clarification, please reply to this email.</p><p style=\"margin:0;font-size:13px;color:#888;\">We appreciate the time you invested in your application and wish you the best.</p></td></tr><tr><td style=\"background:#f8f8f8;padding:20px 32px;text-align:center;border-top:1px solid #eee;\"><p style=\"margin:0 0 4px;font-size:12px;color:#888;\"><strong>CargoLink Platform</strong> — Connecting shippers with the world's best freight forwarders</p><p style=\"margin:0;font-size:11px;color:#aaa;\">© 2025 CargoLink. All rights reserved.</p></td></tr></table></td></tr></table></body></html>`;\n\nreturn { json: { ...d, email_body: emailBody } };"
      },
      "id": "build-rejection-email",
      "name": "Code - Build Rejection Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, decision: $('Code - Parse Payload').first().json.decision, email_sent_to: $('Code - Parse Payload').first().json.email }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Decision from Admin": {
      "main": [
        [
          {
            "node": "Code - Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Payload": {
      "main": [
        [
          {
            "node": "Approved or Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved or Rejected?": {
      "main": [
        [
          {
            "node": "Code - Build Approval Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Build Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Approval Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Rejection Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Approval Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Rejection Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1",
  "id": "FDiPoswoP18EeU8e"
}