n8n_plan/WF6_Deal_Locked_UPDATED.json
{
  "name": "WF6 — CargoLink Deal Locked (Share Contact Details)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf6-webhook",
      "name": "Webhook: Deal Locked",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-booking-confirmed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT company_name, email, phone, whatsapp FROM forwarders WHERE email = '{{ $json.body.forwarder_email }}' LIMIT 1",
        "options": {}
      },
      "id": "wf6-get-forwarder",
      "name": "PostgreSQL: Get Forwarder Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const wb = $('Webhook: Deal Locked').first().json.body;\nconst fwd = $('PostgreSQL: Get Forwarder Contact').first().json;\n\nreturn {\n  json: {\n    // From webhook payload\n    reference: wb.reference,\n    origin: wb.origin,\n    destination: wb.destination,\n    container_type: wb.container_type,\n    transit_days: wb.transit_days,\n    total_price: wb.total_price,\n    currency: wb.currency,\n    carrier_name: wb.carrier_name,\n    // Shipper info\n    user_name: wb.user_name,\n    user_email: wb.user_email,\n    user_phone: wb.user_phone || '',\n    // Forwarder info — from DB lookup\n    forwarder_email: wb.forwarder_email,\n    forwarder_company: wb.forwarder_company,\n    forwarder_phone: fwd.phone || fwd.whatsapp || 'Not provided',\n    forwarder_whatsapp: fwd.whatsapp || ''\n  }\n};"
      },
      "id": "wf6-merge-data",
      "name": "Code: Merge Shipper + Forwarder Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user_email }}",
        "subject": "=Deal Locked — {{ $json.reference }} | Forwarder Contact Details Inside",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\"><div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb\"><div style=\"background:#ffffff;padding:18px 30px;text-align:center;border-bottom:2px solid #f0f0f0\"><img src=\"https://cargolink.sa/cargolink1.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block;margin:0 auto\" /></div><div style=\"background:#000;color:#fff;padding:32px;text-align:center\"><h1 style=\"margin:0;font-size:24px;font-weight:900;letter-spacing:2px\">🔒 Deal Locked</h1><p style=\"margin:8px 0 0;opacity:0.6;font-size:13px\">CargoLink · Private Contact Exchange</p></div><div style=\"padding:32px\"><p style=\"font-size:15px;font-weight:700;color:#111\">Hello {{ $json.user_name }},</p><p style=\"color:#555;font-size:14px;line-height:1.6\">Both you and your forwarder have confirmed the deal on CargoLink. Here are their direct contact details — reach out to coordinate next steps.</p><div style=\"background:#f0fdf4;border:2px solid #22c55e;border-radius:10px;padding:20px;margin:24px 0\"><h3 style=\"margin:0 0 14px;color:#15803d;font-size:15px\">🏢 Forwarder Contact Details</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#555;font-weight:600;width:140px\">Company</td><td style=\"font-weight:700;color:#111\">{{ $json.forwarder_company }}</td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Email</td><td><a href=\"mailto:{{ $json.forwarder_email }}\" style=\"color:#16a34a;font-weight:700\">{{ $json.forwarder_email }}</a></td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Phone</td><td style=\"font-weight:700;color:#111\">{{ $json.forwarder_phone }}</td></tr>{{ $json.forwarder_whatsapp ? '<tr><td style=\"padding:8px 0;color:#555;font-weight:600\">WhatsApp</td><td style=\"font-weight:700;color:#111\">' + $json.forwarder_whatsapp + '</td></tr>' : '' }}</table></div><div style=\"background:#f9f9f9;border:1px solid #e5e7eb;border-radius:10px;padding:20px;margin:0 0 24px\"><h3 style=\"margin:0 0 14px;color:#374151;font-size:14px\">📦 Deal Summary</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:5px 0;color:#6b7280;width:140px\">Reference</td><td style=\"font-family:monospace;font-weight:700\">{{ $json.reference }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Route</td><td>{{ $json.origin }} → {{ $json.destination }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Container</td><td>{{ $json.container_type }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Transit</td><td>{{ $json.transit_days }} days</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Total Price</td><td style=\"font-size:18px;font-weight:900;color:#16a34a\">{{ $json.currency }} {{ $json.total_price }}</td></tr></table></div><p style=\"color:#9ca3af;font-size:12px;border-top:1px solid #e5e7eb;padding-top:16px\">These contact details are private and only shared after both parties confirm. Keep your reference <b>{{ $json.reference }}</b> for all communications.</p></div><div style=\"background:#f9fafb;padding:16px;text-align:center;font-size:11px;color:#9ca3af\">CargoLink · Freight Marketplace · Automated Deal Summary</div></div></body></html>",
        "options": {}
      },
      "id": "wf6-email-shipper",
      "name": "Gmail: Email Shipper (Forwarder Contacts)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.forwarder_email }}",
        "subject": "=Deal Locked — {{ $json.reference }} | Shipper Contact Details Inside",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\"><div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb\"><div style=\"background:#ffffff;padding:18px 30px;text-align:center;border-bottom:2px solid #f0f0f0\"><img src=\"https://cargolink.sa/cargolink1.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block;margin:0 auto\" /></div><div style=\"background:#16a34a;color:#fff;padding:32px;text-align:center\"><h1 style=\"margin:0;font-size:24px;font-weight:900;letter-spacing:2px\">🔒 Deal Locked</h1><p style=\"margin:8px 0 0;opacity:0.8;font-size:13px\">CargoLink · New Confirmed Booking</p></div><div style=\"padding:32px\"><p style=\"font-size:15px;font-weight:700;color:#111\">Hello {{ $json.forwarder_company }},</p><p style=\"color:#555;font-size:14px;line-height:1.6\">A shipper has locked the deal with you on CargoLink. Here are their direct contact details — reach out to arrange the shipment.</p><div style=\"background:#f0fdf4;border:2px solid #22c55e;border-radius:10px;padding:20px;margin:24px 0\"><h3 style=\"margin:0 0 14px;color:#15803d;font-size:15px\">👤 Shipper Contact Details</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#555;font-weight:600;width:140px\">Name</td><td style=\"font-weight:700;color:#111\">{{ $json.user_name }}</td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Email</td><td><a href=\"mailto:{{ $json.user_email }}\" style=\"color:#16a34a;font-weight:700\">{{ $json.user_email }}</a></td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Phone</td><td style=\"font-weight:700;color:#111\">{{ $json.user_phone || 'Not provided' }}</td></tr></table></div><div style=\"background:#f9f9f9;border:1px solid #e5e7eb;border-radius:10px;padding:20px;margin:0 0 24px\"><h3 style=\"margin:0 0 14px;color:#374151;font-size:14px\">📦 Booking Details</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:5px 0;color:#6b7280;width:140px\">Reference</td><td style=\"font-family:monospace;font-weight:700\">{{ $json.reference }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Route</td><td>{{ $json.origin }} → {{ $json.destination }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Container</td><td>{{ $json.container_type }}</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Transit</td><td>{{ $json.transit_days }} days</td></tr><tr><td style=\"padding:5px 0;color:#6b7280\">Agreed Price</td><td style=\"font-size:18px;font-weight:900;color:#16a34a\">{{ $json.currency }} {{ $json.total_price }}</td></tr></table></div><div style=\"background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:16px;margin-bottom:20px\"><p style=\"margin:0;color:#92400e;font-size:13px\">⚡ <b>Action:</b> Contact the shipper directly using the details above to coordinate pickup, documentation, and shipment scheduling.</p></div><p style=\"color:#9ca3af;font-size:12px;border-top:1px solid #e5e7eb;padding-top:16px\">Use reference <b>{{ $json.reference }}</b> in all communications with the shipper.</p></div><div style=\"background:#f9fafb;padding:16px;text-align:center;font-size:11px;color:#9ca3af\">CargoLink · Freight Marketplace · Automated Booking Alert</div></div></body></html>",
        "options": {}
      },
      "id": "wf6-email-forwarder",
      "name": "Gmail: Email Forwarder (Shipper Contacts)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        520
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Contact details sent to both parties\" }",
        "options": {}
      },
      "id": "wf6-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Deal Locked": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get Forwarder Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Get Forwarder Contact": {
      "main": [
        [
          {
            "node": "Code: Merge Shipper + Forwarder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Shipper + Forwarder Data": {
      "main": [
        [
          {
            "node": "Gmail: Email Shipper (Forwarder Contacts)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail: Email Forwarder (Shipper Contacts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Email Shipper (Forwarder Contacts)": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Email Forwarder (Shipper Contacts)": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf6-updated"
  },
  "id": "t5LL2Q0Pi1BxDjZZ"
}