n8n_plan/WF6_Booking_Confirmation.json
{
  "name": "WF6 - CargoLink Booking Confirmation (Shipper + Forwarder Emails)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-confirmed",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Booking Confirmed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "omego-booking-confirmed"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user_email }}",
        "subject": "✅ Booking Confirmed — {{ $json.reference }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\">\n<div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)\">\n\n  <div style=\"background:#000;color:#fff;padding:32px 30px;text-align:center\">\n    <h1 style=\"margin:0;font-size:26px\">✅ Booking Confirmed</h1>\n    <p style=\"margin:10px 0 0;opacity:0.7;font-size:14px\">CargoLink Freight Marketplace</p>\n  </div>\n\n  <div style=\"padding:32px 30px\">\n    <p>Hello <b>{{ $json.user_name }}</b>,</p>\n    <p>Your freight booking has been <b>confirmed</b>. Your selected forwarder has been notified and will send you an invoice shortly.</p>\n\n    <div style=\"background:#f0fdf4;border:2px solid #22c55e;border-radius:8px;padding:20px;margin:24px 0\">\n      <h3 style=\"margin:0 0 12px;color:#16a34a\">Booking Summary</h3>\n      <table style=\"width:100%;border-collapse:collapse\">\n        <tr><td style=\"padding:6px 0;color:#555;width:160px\"><b>Reference</b></td><td style=\"font-family:monospace;font-weight:bold;font-size:16px\">{{ $json.reference }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Carrier / Forwarder</b></td><td>{{ $json.carrier_name }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Route</b></td><td>{{ $json.origin }} → {{ $json.destination }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Container</b></td><td>{{ $json.container_type }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Transit Time</b></td><td>{{ $json.transit_days }} days</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Total Price</b></td><td style=\"font-size:18px;font-weight:bold;color:#16a34a\">{{ $json.currency }} {{ $json.total_price }}</td></tr>\n      </table>\n    </div>\n\n    <div style=\"text-align:center;margin:28px 0\">\n      <a href=\"https://your-frontend.com/dashboard/shipments\"\n         style=\"background:#000;color:#fff;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:bold;font-size:14px\">\n        View My Shipments →\n      </a>\n    </div>\n\n    <p style=\"color:#888;font-size:12px;margin-top:24px;border-top:1px solid #eee;padding-top:16px\">\n      Your forwarder will lock your cargo slot and send a commercial invoice within 24 hours.<br>\n      Keep your booking reference <b>{{ $json.reference }}</b> for all communications.\n    </p>\n  </div>\n\n  <div style=\"background:#f9f9f9;padding:16px;text-align:center;font-size:11px;color:#aaa\">\n    CargoLink · Freight Marketplace · Automated notification\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-shipper",
      "name": "Gmail - Send Confirmation to Shipper",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "forwarder-email-check",
              "leftValue": "={{ $('Webhook - Booking Confirmed').first().json.forwarder_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-forwarder-email",
      "name": "Forwarder Email Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Booking Confirmed').first().json.forwarder_email }}",
        "subject": "🎉 Quote Selected — {{ $('Webhook - Booking Confirmed').first().json.reference }} | Lock Rate & Send Invoice",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\">\n<div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)\">\n\n  <div style=\"background:#16a34a;color:#fff;padding:32px 30px;text-align:center\">\n    <h1 style=\"margin:0;font-size:26px\">🎉 Your Quote Was Selected!</h1>\n    <p style=\"margin:10px 0 0;opacity:0.8;font-size:14px\">CargoLink — Action Required</p>\n  </div>\n\n  <div style=\"padding:32px 30px\">\n    <p>Dear <b>{{ $('Webhook - Booking Confirmed').first().json.forwarder_company }}</b>,</p>\n\n    <p>A shipper on CargoLink has <b>selected your quotation</b> and confirmed their booking. Please review the details below and take the required actions immediately.</p>\n\n    <div style=\"background:#f0fdf4;border:2px solid #22c55e;border-radius:8px;padding:20px;margin:24px 0\">\n      <h3 style=\"margin:0 0 12px;color:#16a34a\">Confirmed Booking Details</h3>\n      <table style=\"width:100%;border-collapse:collapse\">\n        <tr><td style=\"padding:6px 0;color:#555;width:160px\"><b>Booking Reference</b></td><td style=\"font-family:monospace;font-weight:bold;font-size:15px\">{{ $('Webhook - Booking Confirmed').first().json.reference }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Route</b></td><td>{{ $('Webhook - Booking Confirmed').first().json.origin }} → {{ $('Webhook - Booking Confirmed').first().json.destination }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Container Type</b></td><td>{{ $('Webhook - Booking Confirmed').first().json.container_type }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Transit Time</b></td><td>{{ $('Webhook - Booking Confirmed').first().json.transit_days }} days</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Agreed Amount</b></td><td style=\"font-size:20px;font-weight:bold;color:#16a34a\">{{ $('Webhook - Booking Confirmed').first().json.currency }} {{ $('Webhook - Booking Confirmed').first().json.total_price }}</td></tr>\n        <tr><td style=\"padding:6px 0;color:#555\"><b>Request ID</b></td><td style=\"font-family:monospace;font-size:12px\">{{ $('Webhook - Booking Confirmed').first().json.marketplace_request_id }}</td></tr>\n      </table>\n    </div>\n\n    <div style=\"background:#fef9c3;border:2px solid #fde047;border-radius:8px;padding:20px;margin:20px 0\">\n      <h3 style=\"margin:0 0 10px;color:#854d0e\">⚡ Action Required — Do This Now</h3>\n      <ol style=\"margin:0;padding-left:20px;color:#713f12;line-height:2\">\n        <li><b>Lock this rate with your carrier</b> to secure the slot before it expires</li>\n        <li><b>Issue your commercial invoice</b> for <b>{{ $('Webhook - Booking Confirmed').first().json.currency }} {{ $('Webhook - Booking Confirmed').first().json.total_price }}</b> to the shipper</li>\n        <li><b>Reply to this email</b> with your invoice attached and your expected next steps</li>\n      </ol>\n    </div>\n\n    <p style=\"color:#555;font-size:13px\">The shipper's contact details will be shared by the CargoLink team once your invoice is received. Use the booking reference <b>{{ $('Webhook - Booking Confirmed').first().json.reference }}</b> in all communications.</p>\n  </div>\n\n  <div style=\"background:#f9f9f9;padding:16px;text-align:center;font-size:11px;color:#aaa;border-top:1px solid #eee\">\n    CargoLink · Freight Marketplace · Automated notification\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-forwarder",
      "name": "Gmail - Notify Forwarder (Lock Quote + Invoice)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Booking notifications sent\" }",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook - Booking Confirmed": {
      "main": [
        [
          { "node": "Gmail - Send Confirmation to Shipper", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gmail - Send Confirmation to Shipper": {
      "main": [
        [
          { "node": "Forwarder Email Available?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Forwarder Email Available?": {
      "main": [
        [
          { "node": "Gmail - Notify Forwarder (Lock Quote + Invoice)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gmail - Notify Forwarder (Lock Quote + Invoice)": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf6"
  }
}
