n8n_plan/WF7_New_Conversation.json
{
  "name": "WF7 — New Conversation (Forwarder Notification)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-wf7-webhook",
      "name": "Webhook: New Conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "wf7-new-conversation"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.forwarder_email }}",
        "subject": "=💬 A Shipper Is Interested In Your Quote — {{ $json.body.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;background:#f9f9f9;margin:0;padding:0}.container{max-width:600px;margin:40px auto;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb}.header{background:#000000;padding:32px;text-align:center}.header h1{color:#ffffff;font-size:22px;margin:0;font-weight:900;letter-spacing:2px}.body{padding:32px}.greeting{font-size:16px;font-weight:700;color:#111827;margin-bottom:8px}.sub{font-size:14px;color:#6b7280;line-height:1.6;margin-bottom:24px}.detail-box{background:#f3f4f6;border-radius:10px;padding:20px;margin-bottom:24px}.detail-row{display:flex;justify-content:space-between;margin-bottom:10px;font-size:13px}.detail-label{color:#6b7280;font-weight:600}.detail-value{color:#111827;font-weight:700}.cta{text-align:center;margin:32px 0}.cta a{background:#000000;color:#ffffff;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:900;font-size:14px;letter-spacing:1px}.footer{background:#f9fafb;padding:20px 32px;border-top:1px solid #e5e7eb;font-size:11px;color:#9ca3af;text-align:center}</style></head><body><div class='container'><div class='header'><h1>CargoLink</h1></div><div class='body'><p class='greeting'>Hello {{ $json.body.company_name }}!</p><p class='sub'>A shipper on CargoLink is interested in your quote and wants to negotiate directly with you on the platform. Log in to chat and respond — fast responses get more bookings!</p><div class='detail-box'><div class='detail-row'><span class='detail-label'>Request</span><span class='detail-value'>{{ $json.body.request_id }}</span></div><div class='detail-row'><span class='detail-label'>Route</span><span class='detail-value'>{{ $json.body.origin }} → {{ $json.body.destination }}</span></div><div class='detail-row'><span class='detail-label'>Shipper</span><span class='detail-value'>{{ $json.body.shipper_name }}</span></div></div><div class='cta'><a href='{{ $json.body.conversation_url }}'>Open Chat →</a></div><p style='font-size:13px;color:#6b7280;text-align:center;line-height:1.6'>The shipper may negotiate the price. You can accept or reject their counter-offer directly in the chat. Contact details are kept private until a booking is confirmed.</p></div><div class='footer'>CargoLink · Freight Marketplace · <a href='https://cargolink.sa' style='color:#9ca3af'>cargolink.sa</a></div></div></body></html>",
        "options": {}
      },
      "id": "node-wf7-gmail",
      "name": "Gmail: Notify Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "node-wf7-response",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: New Conversation": {
      "main": [
        [
          {
            "node": "Gmail: Notify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Notify Forwarder": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "E1pCGQ86TfUe7hmq"
}