n8n_plan/WF7_New_Conversation.json
{
  "name": "WF7 — New Conversation (Forwarder Notification)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-wf7-webhook",
      "name": "Webhook: New Conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "wf7-new-conversation"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.forwarder_email }}",
        "subject": "=A Shipper Is Interested In Your Quote — {{ $json.body.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;background:#f9f9f9;margin:0;padding:0}.container{max-width:600px;margin:40px auto;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb}.header{background:#000000;padding:32px;text-align:center}.header h1{color:#ffffff;font-size:22px;margin:0;font-weight:900;letter-spacing:2px}.body{padding:32px}.greeting{font-size:16px;font-weight:700;color:#111827;margin-bottom:8px}.sub{font-size:14px;color:#6b7280;line-height:1.6;margin-bottom:24px}.detail-box{background:#f3f4f6;border-radius:10px;padding:20px;margin-bottom:24px}.detail-row{display:flex;justify-content:space-between;margin-bottom:10px;font-size:13px}.detail-label{color:#6b7280;font-weight:600}.detail-value{color:#111827;font-weight:700}.cta{text-align:center;margin:32px 0}.cta a{background:#000000;color:#ffffff;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:900;font-size:14px;letter-spacing:1px}.footer{background:#f9fafb;padding:20px 32px;border-top:1px solid #e5e7eb;font-size:11px;color:#9ca3af;text-align:center}</style></head><body><div class='container'><div class='header'><img src=\"https://cargolink.sa/cargolink1.png\" alt=\"CargoLink\" width=\"160\" height=\"64\" style=\"display:block;margin:0 auto 14px;max-width:180px;height:auto\" /></body></html>",
        "options": {}
      },
      "id": "node-wf7-gmail",
      "name": "Gmail: Notify Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "node-wf7-response",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: New Conversation": {
      "main": [
        [
          {
            "node": "Gmail: Notify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Notify Forwarder": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "E1pCGQ86TfUe7hmq"
}