n8n_plan/WF7_New_Conversation.json
{
  "name": "WF7 — New Conversation (Forwarder Notification)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-wf7-webhook",
      "name": "Webhook: New Conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "wf7-new-conversation"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.forwarder_email }}",
        "subject": "=A Shipper Is Interested In Your Quote — {{ $json.body.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>A Shipper Wants to Chat</h1></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>You have a new message!</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>A shipper opened a conversation about your quote for freight request <strong>{{ $json.body.request_id }}</strong>.</p><div style='background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;padding:14px;margin:0 0 16px;'><p style='margin:0;font-size:13px;color:#374151;'>Reply promptly — shippers may select another forwarder if there is no response.</p></div><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='https://cargolink.sa/forwarders/portal' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Open Forwarder Portal →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "node-wf7-gmail",
      "name": "Gmail: Notify Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "node-wf7-response",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: New Conversation": {
      "main": [
        [
          {
            "node": "Gmail: Notify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Notify Forwarder": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "E1pCGQ86TfUe7hmq"
}