n8n_plan/WF_BID_CONFIRM.json
{
  "name": "WF_BID_CONFIRM — CargoLink Portal Bid Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bid-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wfbc-webhook",
      "name": "Webhook: Bid Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-bid-confirmation"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract bid data from webhook body.\n// Payload keys: forwarder_email, forwarder_company, forwarder_id,\n//               request_id, origin, destination, price, currency, submitted_at\nconst b = $('Webhook: Bid Submitted').first().json.body;\nif (!b.forwarder_email || !b.request_id) {\n  throw new Error('Missing required fields: forwarder_email or request_id');\n}\nreturn {\n  json: {\n    forwarder_email: b.forwarder_email,\n    forwarder_company: b.forwarder_company || 'Your Company',\n    forwarder_id: b.forwarder_id || '',\n    request_id: b.request_id,\n    origin: b.origin || '',\n    destination: b.destination || '',\n    price: b.price,\n    currency: b.currency || 'USD',\n    submitted_at: b.submitted_at || new Date().toISOString()\n  }\n};"
      },
      "id": "wfbc-extract",
      "name": "Code: Extract Bid Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.forwarder_email }}",
        "subject": "=Quote Submitted — {{ $json.request_id }} | CargoLink",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\"><div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb\"><div style=\"background:#ffffff;padding:18px 30px;text-align:center;border-bottom:2px solid #f0f0f0\"><img src=\"https://cargolink.sa/cargolink.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block;margin:0 auto\" /></div><div style=\"background:#16a34a;color:#fff;padding:32px;text-align:center\"><h1 style=\"margin:0;font-size:22px;font-weight:900\">✅ Quote Submitted!</h1><p style=\"margin:8px 0 0;opacity:0.8;font-size:13px\">CargoLink · Forwarder Portal</p></div><div style=\"padding:32px\"><p style=\"font-size:15px;font-weight:700;color:#111\">Hello {{ $json.forwarder_company }},</p><p style=\"color:#555;font-size:14px;line-height:1.6\">Your quotation has been successfully submitted on CargoLink. The shipper can now see your quote.</p><div style=\"background:#f0fdf4;border:2px solid #22c55e;border-radius:10px;padding:24px;margin:24px 0\"><h3 style=\"margin:0 0 16px;color:#15803d;font-size:15px\">📋 Quote Summary</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#555;font-weight:600;width:140px\">Request ID</td><td style=\"font-family:monospace;font-weight:700;color:#111\">{{ $json.request_id }}</td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Route</td><td style=\"color:#111\">{{ $json.origin }} → {{ $json.destination }}</td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Your Price</td><td style=\"font-size:22px;font-weight:900;color:#16a34a\">{{ $json.currency }} {{ $json.price }}</td></tr><tr><td style=\"padding:8px 0;color:#555;font-weight:600\">Submitted</td><td style=\"color:#111;font-size:12px\">{{ $json.submitted_at }}</td></tr></table></div><div style=\"background:#eff6ff;border:1px solid #bfdbfe;border-radius:8px;padding:16px;margin-bottom:24px\"><p style=\"margin:0;color:#1e40af;font-size:13px\">💡 <b>What happens next?</b> If the shipper is interested, they may initiate a chat with you through the platform to negotiate. You'll receive an email notification when they do.</p></div><div style=\"background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:16px\"><p style=\"margin:0;color:#92400e;font-size:13px\">⚡ <b>Reminder:</b> Only the first 3 quotes per request are accepted. Submit promptly for new requests to maximize your chances.</p></div></div><div style=\"background:#f9fafb;padding:16px;text-align:center;font-size:11px;color:#9ca3af\">CargoLink · Freight Marketplace · Automated Confirmation</div></div></body></html>",
        "options": {}
      },
      "id": "wfbc-email-forwarder",
      "name": "Gmail: Confirm to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events_logs (event_type, request_id, description) VALUES ('BID_CONFIRMED', '{{ $('Code: Extract Bid Data').first().json.request_id }}', 'Portal bid confirmed for {{ $('Code: Extract Bid Data').first().json.forwarder_company }}') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "wfbc-log",
      "name": "PostgreSQL: Log Bid Confirmation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        940,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Bid confirmation sent\" }",
        "options": {}
      },
      "id": "wfbc-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Bid Submitted": {
      "main": [
        [
          {
            "node": "Code: Extract Bid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Bid Data": {
      "main": [
        [
          {
            "node": "Gmail: Confirm to Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Confirm to Forwarder": {
      "main": [
        [
          {
            "node": "PostgreSQL: Log Bid Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Log Bid Confirmation": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf-bid-confirm"
  },
  "id": "CPMxMb6Yz7ynHgHw"
}