n8n_plan/WF_BID_CONFIRM.json
{
  "name": "WF_BID_CONFIRM — CargoLink Portal Bid Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bid-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wfbc-webhook",
      "name": "Webhook: Bid Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-bid-confirmation"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract bid data from webhook body.\n// Payload keys: forwarder_email, forwarder_company, forwarder_id,\n//               request_id, origin, destination, price, currency, submitted_at\nconst b = $('Webhook: Bid Submitted').first().json.body;\nif (!b.forwarder_email || !b.request_id) {\n  throw new Error('Missing required fields: forwarder_email or request_id');\n}\nreturn {\n  json: {\n    forwarder_email: b.forwarder_email,\n    forwarder_company: b.forwarder_company || 'Your Company',\n    forwarder_id: b.forwarder_id || '',\n    request_id: b.request_id,\n    origin: b.origin || '',\n    destination: b.destination || '',\n    price: b.price,\n    currency: b.currency || 'USD',\n    submitted_at: (() => { const d = new Date(b.submitted_at || new Date()); return d.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) + ' at ' + d.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); })()\n  }\n};"
      },
      "id": "wfbc-extract",
      "name": "Code: Extract Bid Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.forwarder_email }}",
        "subject": "=Quote Submitted — {{ $json.request_id }} | CargoLink",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>Quote Submitted</h1><p style='margin:0;font-size:11px;color:rgba(255,255,255,0.5);letter-spacing:0.12em;text-transform:uppercase;'>CargoLink · Forwarder Portal</p></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Hello {{ $json.forwarder_company }},</p><p style='margin:0 0 20px;font-size:14px;color:#4b5563;line-height:1.7;'>Your quotation has been successfully submitted on CargoLink. The shipper can now see your quote.</p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;border:1px solid #e2e8f0;background:#f8fafc;border-radius:8px;margin:0 0 20px;border-collapse:collapse;'><tr><td style='padding:10px 16px 6px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.1em;border-bottom:1px solid #e5e7eb;' colspan='2'>Quote Summary</td></tr><tr><td style='padding:10px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #f0f0f0;width:130px;'>Request ID</td><td style='padding:10px 16px;font-size:13px;font-family:monospace;font-weight:700;color:#111827;border-bottom:1px solid #f0f0f0;'>{{ $json.request_id }}</td></tr><tr><td style='padding:10px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #f0f0f0;'>Route</td><td style='padding:10px 16px;font-size:13px;font-weight:600;color:#111827;border-bottom:1px solid #f0f0f0;'>{{ $json.origin }} → {{ $json.destination }}</td></tr><tr><td style='padding:10px 16px;font-size:13px;color:#6b7280;border-bottom:1px solid #f0f0f0;'>Your Price</td><td style='padding:10px 16px;font-size:20px;font-weight:900;color:#1a1a1a;border-bottom:1px solid #f0f0f0;'>{{ $json.currency }} {{ $json.price }}</td></tr><tr><td style='padding:10px 16px;font-size:13px;color:#6b7280;'>Submitted</td><td style='padding:10px 16px;font-size:13px;color:#374151;'>{{ $json.submitted_at }}</td></tr></table><div style='background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;padding:14px;margin-bottom:16px;'><p style='margin:0;font-size:13px;color:#374151;line-height:1.6;'><b>What happens next?</b> If the shipper is interested, they will open a chat with you to negotiate. You will receive an email notification when they do.</p></div><div style='background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;padding:14px;'><p style='margin:0;font-size:13px;color:#374151;line-height:1.6;'><b>Reminder:</b> Only the first 3 quotes per request are accepted. Submit promptly to maximize your chances.</p></div></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "wfbc-email-forwarder",
      "name": "Gmail: Confirm to Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "eYtkasWvTHeG4DMV",
          "name": "Gmail OAuth - Quotes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events_logs (event_type, request_id, description) VALUES ('BID_CONFIRMED', '{{ $('Code: Extract Bid Data').first().json.request_id }}', 'Portal bid confirmed for {{ $('Code: Extract Bid Data').first().json.forwarder_company }}') ON CONFLICT DO NOTHING",
        "options": {}
      },
      "id": "wfbc-log",
      "name": "PostgreSQL: Log Bid Confirmation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        940,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "mF3BMC9ZawiCE0M8",
          "name": "CargoLink PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Bid confirmation sent\" }",
        "options": {}
      },
      "id": "wfbc-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Bid Submitted": {
      "main": [
        [
          {
            "node": "Code: Extract Bid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Bid Data": {
      "main": [
        [
          {
            "node": "Gmail: Confirm to Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Confirm to Forwarder": {
      "main": [
        [
          {
            "node": "PostgreSQL: Log Bid Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Log Bid Confirmation": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf-bid-confirm"
  },
  "id": "CPMxMb6Yz7ynHgHw"
}