n8n_plan/WF_F2F_ACCEPT.json
{
  "name": "WF_F2F_ACCEPT — F2F Quote Accepted Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2f-accept",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-f2f-accept-wh",
      "name": "Webhook: F2F Quote Accepted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "cargolink-f2f-accept"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nif (!b.quoter_email) throw new Error('Missing quoter_email in F2F accept payload.');\nreturn [{\n  json: {\n    quoter_email: b.quoter_email,\n    quoter_company: b.quoter_company || 'Your Company',\n    requester_company: b.requester_company || 'A forwarder',\n    origin: b.origin || '',\n    destination: b.destination || '',\n    cargo_type: b.cargo_type || '',\n    price: b.price || '',\n    currency: b.currency || 'USD',\n    conv_public_id: b.conv_public_id || '',\n    portal_link: 'https://cargolink.sa/forwarders/portal'\n  }\n}];"
      },
      "id": "node-f2f-accept-code",
      "name": "Code: Extract Accept Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.quoter_email }}",
        "subject": "=Your F2F Quote Was Accepted — {{ $json.origin }} → {{ $json.destination }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:40%;vertical-align:top;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>Quote Accepted!</h1><p style='margin:0;font-size:13px;color:#9ca3af;'>Your F2F quote was selected</p></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><p style='margin:0 0 20px;font-size:15px;font-weight:700;color:#111827;'>Hello {{ $json.quoter_company }},</p><p style='margin:0 0 20px;font-size:14px;color:#4b5563;line-height:1.7;'><strong>{{ $json.requester_company }}</strong> has accepted your quote for the route below. A private chat has been opened — log in to your portal to coordinate.</p><table cellpadding='0' cellspacing='0' border='0' width='100%' style='background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;margin:0 0 24px;'><tr><td style='padding:14px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Route</p><p style='margin:0;font-size:16px;font-weight:700;color:#111827;'>{{ $json.origin }} &rarr; {{ $json.destination }}</p></td></tr><tr><td style='padding:12px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Mode</p><p style='margin:0;font-size:14px;font-weight:600;color:#374151;'>{{ $json.cargo_type }}</p></td></tr><tr><td style='padding:12px 16px;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Your Quoted Price</p><p style='margin:0;font-size:20px;font-weight:900;color:#1a1a1a;font-family:monospace;'>{{ $json.currency }} {{ $json.price }}</p></td></tr></table><div style='background:#d1fae5;border:1px solid #6ee7b7;border-radius:6px;padding:14px;margin:0 0 24px;'><p style='margin:0;font-size:13px;color:#065f46;'><strong>A private F2F chat is now open.</strong> Log in to your portal to start coordinating with {{ $json.requester_company }}. Respond promptly to confirm the deal.</p></div><table cellpadding='0' cellspacing='0' border='0' style='margin:0 auto;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='{{ $json.portal_link }}' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Open Portal &amp; Chat &rarr;</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Forwarder Network &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a></p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "node-f2f-accept-gmail",
      "name": "Gmail: Notify Quoter",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "node-f2f-accept-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook: F2F Quote Accepted": {
      "main": [[{ "node": "Code: Extract Accept Data", "type": "main", "index": 0 }]]
    },
    "Code: Extract Accept Data": {
      "main": [[{ "node": "Gmail: Notify Quoter", "type": "main", "index": 0 }]]
    },
    "Gmail: Notify Quoter": {
      "main": [[{ "node": "Respond: OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "WF_F2F_ACCEPT_001"
}
