n8n_plan/WF_F2F_BROADCAST.json
{
  "name": "WF_F2F_BROADCAST — Forwarder Network Request Broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2f-broadcast",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-f2f-webhook",
      "name": "Webhook: F2F Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "cargolink-f2f-broadcast"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Unwrap typeVersion 1.1 body wrapper\nconst b = $input.first().json.body || $input.first().json;\nif (!b || !b.request_public_id) throw new Error('Missing request_public_id in F2F broadcast payload.');\n\nconst recipients = b.recipients || [];\n// Return [] when no recipients — n8n skips downstream nodes on empty output\nif (recipients.length === 0) return [];\n\n// Return one item per recipient\nreturn recipients.map(r => ({\n  json: {\n    to_email: r.email,\n    to_company: r.company,\n    request_public_id: b.request_public_id,\n    posted_by_company: b.posted_by_company,\n    origin: b.origin,\n    destination: b.destination,\n    cargo_type: b.cargo_type || '',\n    commodity: b.commodity || '',\n    weight_kg: b.weight_kg || '',\n    container_type: b.container_type || '',\n    notes: b.notes || '',\n    portal_link: 'https://cargolink.sa/forwarders/portal'\n  }\n}));"
      },
      "id": "node-f2f-extract",
      "name": "Code: Build Recipient List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "=New F2F Request — {{ $json.origin }} → {{ $json.destination }} [{{ $json.cargo_type }}]",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:40%;vertical-align:top;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>F2F Network Request</h1><p style='margin:0;font-size:13px;color:#9ca3af;'>A fellow forwarder needs your help</p></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><p style='margin:0 0 20px;font-size:15px;font-weight:700;color:#111827;'>{{ $json.posted_by_company }} posted a new freight request in the CargoLink Forwarder Network.</p><table cellpadding='0' cellspacing='0' border='0' width='100%' style='background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;margin:0 0 20px;'><tr><td style='padding:14px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Route</p><p style='margin:0;font-size:16px;font-weight:700;color:#111827;'>{{ $json.origin }} &rarr; {{ $json.destination }}</p></td></tr><tr><td style='padding:12px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Mode</p><p style='margin:0;font-size:14px;font-weight:600;color:#374151;'>{{ $json.cargo_type }}{{ $json.container_type ? \" — \" + $json.container_type : \"\" }}</p></td></tr>{{ $json.commodity ? \"<tr><td style='padding:12px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Commodity</p><p style='margin:0;font-size:14px;font-weight:600;color:#374151;'>\" + $json.commodity + \"</p></td></tr>\" : \"\" }}{{ $json.weight_kg ? \"<tr><td style='padding:12px 16px;border-bottom:1px solid #e2e8f0;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Weight</p><p style='margin:0;font-size:14px;font-weight:600;color:#374151;'>\" + $json.weight_kg + \" kg</p></td></tr>\" : \"\" }}{{ $json.notes ? \"<tr><td style='padding:12px 16px;'><p style='margin:0 0 2px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.05em;'>Notes</p><p style='margin:0;font-size:13px;color:#4b5563;'>\" + $json.notes + \"</p></td></tr>\" : \"\" }}</table><div style='background:#fff8e6;border:1px solid #f5d87c;border-radius:6px;padding:14px;margin:0 0 24px;'><p style='margin:0;font-size:13px;color:#92400e;'><strong>Network Only:</strong> This request was posted in the CargoLink Forwarder Network — forwarder to forwarder. Log in to your portal to submit a quote.</p></div><table cellpadding='0' cellspacing='0' border='0' style='margin:0 auto;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='{{ $json.portal_link }}' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Open Portal &amp; Quote →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Forwarder Network &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a></p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "node-f2f-gmail",
      "name": "Gmail: Notify Forwarder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "node-f2f-response",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook: F2F Request": {
      "main": [[{ "node": "Code: Build Recipient List", "type": "main", "index": 0 }]]
    },
    "Code: Build Recipient List": {
      "main": [[{ "node": "Gmail: Notify Forwarder", "type": "main", "index": 0 }]]
    },
    "Gmail: Notify Forwarder": {
      "main": [[{ "node": "Respond: OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "WF_F2F_BROADCAST_001"
}
