n8n_plan/WF_PASSWORD_RESET.json
{
  "name": "WF_PASSWORD_RESET — CargoLink Password Reset & Security Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wfpr-webhook",
      "name": "Webhook: Password Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-password-reset"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Two cases:\n// 1. is_confirmation=false → send reset link email\n// 2. is_confirmation=true  → send security alert (password was changed)\n// Payload: email, full_name, reset_url, is_confirmation, alert\nconst b = $('Webhook: Password Reset').first().json.body;\nif (!b.email) throw new Error('Missing required field: email');\nreturn {\n  json: {\n    email: b.email,\n    full_name: b.full_name || 'User',\n    reset_url: b.reset_url || '',\n    is_confirmation: b.is_confirmation === true || b.is_confirmation === 'true',\n    alert: b.alert || ''\n  }\n};"
      },
      "id": "wfpr-extract",
      "name": "Code: Extract Reset Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-confirmation-check",
              "leftValue": "={{ $json.is_confirmation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "loose",
          "version": 2
        }
      },
      "id": "wfpr-branch",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Reset Your CargoLink Password",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#1a1a1a;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Password Reset Request</h1></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Hello {{ $json.full_name }},</p><p style='margin:0 0 16px;font-size:14px;color:#4b5563;line-height:1.7;'>We received a request to reset your CargoLink password. This link expires in <strong>1 hour</strong>.</p><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='{{ $json.reset_url }}' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Reset My Password →</a></td></tr></table><div style='background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:14px;margin:20px 0 0;'><p style='margin:0;font-size:13px;color:#92400e;'>If you did not request this, ignore this email — your account is safe.</p></div></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "wfpr-send-reset-link",
      "name": "Gmail: Send Reset Link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        260
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your CargoLink Password Was Changed",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.08);'><tr><td style='background:#dc2626;padding:24px 32px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style=''><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:20px;font-weight:900;color:#ffffff;'>Password Changed</h1></td></tr><tr><td style='height:3px;background:#ef4444;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:32px 40px;'><p style='margin:0 0 8px;font-size:15px;font-weight:700;color:#111827;'>Hello {{ $json.full_name }},</p><div style='background:#fef2f2;border:1px solid #fecaca;border-radius:8px;padding:14px;margin:0 0 16px;'><p style='margin:0 0 4px;font-size:14px;font-weight:700;color:#991b1b;'>Your CargoLink password was changed.</p><p style='margin:0;font-size:13px;color:#7f1d1d;line-height:1.6;'>{{ $json.alert || \"If you made this change, no action is needed.\" }}</p></div><p style='margin:0 0 16px;font-size:14px;color:#374151;line-height:1.7;'>If you did <strong>not</strong> make this change, secure your account immediately.</p><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#dc2626;border-radius:8px;'><a href='https://cargolink.sa/login' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Secure My Account →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:14px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "wfpr-send-security-alert",
      "name": "Gmail: Send Security Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        540
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Password reset email sent\" }",
        "options": {}
      },
      "id": "wfpr-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Password Reset": {
      "main": [
        [
          {
            "node": "Code: Extract Reset Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Reset Data": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Gmail: Send Security Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Send Reset Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Reset Link": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Security Alert": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf-password-reset"
  },
  "id": "CAAjRxtxaSas5VzF"
}