n8n_plan/WF_PASSWORD_RESET.json
{
  "name": "WF_PASSWORD_RESET — CargoLink Password Reset & Security Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wfpr-webhook",
      "name": "Webhook: Password Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "cargolink-password-reset"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Two cases:\n// 1. is_confirmation=false → send reset link email\n// 2. is_confirmation=true  → send security alert (password was changed)\n// Payload: email, full_name, reset_url, is_confirmation, alert\nconst b = $('Webhook: Password Reset').first().json.body;\nif (!b.email) throw new Error('Missing required field: email');\nreturn {\n  json: {\n    email: b.email,\n    full_name: b.full_name || 'User',\n    reset_url: b.reset_url || '',\n    is_confirmation: b.is_confirmation === true || b.is_confirmation === 'true',\n    alert: b.alert || ''\n  }\n};"
      },
      "id": "wfpr-extract",
      "name": "Code: Extract Reset Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-confirmation-check",
              "leftValue": "={{ $json.is_confirmation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wfpr-branch",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🔐 Reset Your CargoLink Password",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\"><div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb\"><div style=\"background:#000;color:#fff;padding:32px;text-align:center\"><h1 style=\"margin:0;font-size:22px;font-weight:900;letter-spacing:1px\">🔐 Password Reset</h1><p style=\"margin:8px 0 0;opacity:0.6;font-size:13px\">CargoLink · Account Security</p></div><div style=\"padding:36px\"><p style=\"font-size:15px;font-weight:700;color:#111\">Hello {{ $json.full_name }},</p><p style=\"color:#555;font-size:14px;line-height:1.6\">We received a request to reset your CargoLink password. Click the button below to set a new password.</p><div style=\"text-align:center;margin:32px 0\"><a href=\"{{ $json.reset_url }}\" style=\"background:#1e3a5f;color:#fff;padding:16px 40px;text-decoration:none;border-radius:8px;font-weight:700;font-size:15px\">Reset My Password →</a></div><div style=\"background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:16px;margin-bottom:24px\"><p style=\"margin:0;color:#92400e;font-size:13px\">⏰ <b>This link expires in 15 minutes.</b> If you did not request a password reset, please ignore this email — your account is safe.</p></div><p style=\"color:#9ca3af;font-size:12px\">If the button doesn't work, copy this link:<br><span style=\"color:#1e3a5f;word-break:break-all\">{{ $json.reset_url }}</span></p></div><div style=\"background:#f9fafb;padding:16px;text-align:center;font-size:11px;color:#9ca3af\">CargoLink · Freight Marketplace · Account Security</div></div></body></html>",
        "options": {}
      },
      "id": "wfpr-send-reset-link",
      "name": "Gmail: Send Reset Link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        260
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "⚠️ Your CargoLink Password Was Changed",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style=\"font-family:Arial,sans-serif;background:#f4f4f4;margin:0;padding:0\"><div style=\"max-width:600px;margin:20px auto;background:#fff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb\"><div style=\"background:#dc2626;color:#fff;padding:32px;text-align:center\"><h1 style=\"margin:0;font-size:22px;font-weight:900\">⚠️ Password Changed</h1><p style=\"margin:8px 0 0;opacity:0.8;font-size:13px\">CargoLink · Security Alert</p></div><div style=\"padding:36px\"><p style=\"font-size:15px;font-weight:700;color:#111\">Hello {{ $json.full_name }},</p><p style=\"color:#555;font-size:14px;line-height:1.6\">Your CargoLink account password was successfully changed.</p><div style=\"background:#fef2f2;border:2px solid #fca5a5;border-radius:8px;padding:20px;margin:24px 0\"><p style=\"margin:0;color:#7f1d1d;font-size:14px;font-weight:700\">If you made this change — no action needed.</p><p style=\"margin:8px 0 0;color:#7f1d1d;font-size:13px\">If you did NOT change your password, your account may have been compromised. Contact support immediately at <a href=\"mailto:support@cargolink.sa\" style=\"color:#dc2626\">support@cargolink.sa</a>.</p></div>{{ $json.alert ? '<div style=\"background:#fef3c7;border:1px solid #fcd34d;border-radius:8px;padding:14px;margin-bottom:16px\"><p style=\"margin:0;color:#92400e;font-size:13px\">' + $json.alert + '</p></div>' : '' }}<p style=\"color:#9ca3af;font-size:12px;margin-top:24px\">Changed on: {{ new Date().toUTCString() }}</p></div><div style=\"background:#f9fafb;padding:16px;text-align:center;font-size:11px;color:#9ca3af\">CargoLink · Freight Marketplace · Account Security</div></div></body></html>",
        "options": {}
      },
      "id": "wfpr-send-security-alert",
      "name": "Gmail: Send Security Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        540
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Password reset email sent\" }",
        "options": {}
      },
      "id": "wfpr-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Password Reset": {
      "main": [
        [
          {
            "node": "Code: Extract Reset Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Reset Data": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Gmail: Send Security Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail: Send Reset Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Reset Link": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Security Alert": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "cargolink-wf-password-reset"
  },
  "id": "CAAjRxtxaSas5VzF"
}