n8n_plan/WF_WELCOME.json
{
  "name": "WF_WELCOME — CargoLink New User Welcome Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf-welcome-webhook",
      "name": "Webhook: User Welcome",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "cargolink-user-welcome"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.body || $json;\nif (!d.email || !d.full_name) throw new Error('Missing email or full_name');\nconst emailBody = `<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'></head><body style='margin:0;padding:0;background:#f0f4f8;font-family:-apple-system,BlinkMacSystemFont,system-ui,Arial,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' border='0' style='background:#f0f4f8;'><tr><td align='center' style='padding:32px 16px;'><table cellpadding='0' cellspacing='0' border='0' style='max-width:600px;width:100%;background:#ffffff;border-radius:10px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.09);'><tr><td style='background:#1a1a1a;padding:36px 32px 28px;text-align:center;'><table cellpadding='0' cellspacing='0' border='0' align='center' style='margin:0 auto 16px;'><tr><td style='padding:0 0 16px;line-height:0;'><img src='https://cargolink.sa/cargolink1.png' alt='CargoLink' width='160' height='64' border='0' style='display:block;width:160px;height:64px;border:0;outline:none;'></td></tr></table><h1 style='margin:0 0 3px;font-size:22px;font-weight:700;color:#ffffff;letter-spacing:-0.3px;'>Welcome Aboard</h1><p style='margin:0;font-size:11px;color:rgba(255,255,255,0.5);letter-spacing:0.12em;text-transform:uppercase;'>CargoLink · Freight Marketplace</p></td></tr><tr><td style='height:3px;background:#b5973a;font-size:0;line-height:0;'> </td></tr><tr><td style='padding:36px 40px;'><p style='margin:0 0 8px;font-size:16px;font-weight:700;color:#111827;'>Hello ${d.full_name},</p><p style='margin:0 0 20px;font-size:14px;color:#4b5563;line-height:1.7;'>Your CargoLink account is ready. Post freight requests and receive competitive quotes from verified forwarders worldwide.</p><table cellpadding='0' cellspacing='0' border='0' style='width:100%;background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;margin:0 0 20px;'><tr><td style='padding:10px 20px;font-size:11px;font-weight:700;color:#6b7280;text-transform:uppercase;letter-spacing:0.1em;border-bottom:1px solid #e5e7eb;'>Your Account ID</td></tr><tr><td style='padding:14px 20px;font-size:22px;font-weight:900;color:#1a1a1a;font-family:monospace;'>${d.sovereign_id || 'Assigned on login'}</td></tr></table><p style='margin:0 0 8px;font-size:14px;color:#4b5563;'>1. Log in and post a freight request.</p><p style='margin:0 0 8px;font-size:14px;color:#4b5563;'>2. Receive quotes from verified forwarders.</p><p style='margin:0 0 0;font-size:14px;color:#4b5563;'>3. Compare, negotiate, and book via chat.</p><table cellpadding='0' cellspacing='0' border='0' style='margin:20px auto 0;'><tr><td style='background:#1a1a1a;border-radius:8px;'><a href='https://cargolink.sa/dashboard' style='display:inline-block;padding:13px 28px;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;'>Go to Dashboard →</a></td></tr></table></td></tr><tr><td style='background:#f8fafc;padding:18px 32px;text-align:center;border-top:1px solid #e2e8f0;'><p style='margin:0;font-size:11px;color:#94a3b8;'>CargoLink Platform &mdash; <a href='https://cargolink.sa' style='color:#64748b;text-decoration:none;'>cargolink.sa</a> &mdash; &copy; 2025 CargoLink</p></td></tr></table></td></tr></table></body></html>`;\nreturn { json: { email: d.email, full_name: d.full_name, company_name: d.company_name || '', sovereign_id: d.sovereign_id || '', email_body: emailBody } };"
      },
      "id": "wf-welcome-build-email",
      "name": "Code: Build Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Welcome to CargoLink — Your Account is Ready",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "wf-welcome-send-email",
      "name": "Gmail: Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "QYlpY7lFFdn2TQhy",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "wf-welcome-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: User Welcome": {
      "main": [
        [
          {
            "node": "Code: Build Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Welcome Email": {
      "main": [
        [
          {
            "node": "Gmail: Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "cargolink-wf-welcome"
}