n8n_plan/WF_WELCOME.json
{
  "name": "WF_WELCOME — CargoLink New User Welcome Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf-welcome-webhook",
      "name": "Webhook: User Welcome",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "cargolink-user-Welcome"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.body || $json;\n\nif (!d.email || !d.full_name) throw new Error('Missing email or full_name in payload');\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; background: #f4f4f4; margin: 0; padding: 0; }\n    .container { max-width: 640px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    .header { background: #000000; color: white; padding: 40px 30px; text-align: center; }\n    .header h1 { margin: 0 0 10px 0; font-size: 28px; font-weight: 900; letter-spacing: 2px; }\n    .header p { margin: 0; font-size: 14px; opacity: 0.7; }\n    .content { padding: 40px 30px; }\n    .id-box { background: #f0f9ff; border: 2px solid #0ea5e9; border-radius: 6px; padding: 20px; margin: 24px 0; text-align: center; }\n    .id-box p { margin: 4px 0; font-size: 14px; color: #555; }\n    .id-box strong { font-size: 22px; color: #0369a1; letter-spacing: 1px; font-family: monospace; }\n    .steps { background: #f9f9f9; border-radius: 6px; padding: 20px 20px 20px 36px; margin: 20px 0; }\n    .steps li { margin-bottom: 10px; font-size: 14px; }\n    .cta-button { display: inline-block; background: #000000; color: white; padding: 14px 36px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 15px; margin: 20px 0; }\n    .footer { background: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; color: #888; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div style=\"background:#ffffff;padding:18px 30px;text-align:center;border-bottom:2px solid #f0f0f0\"><img src=\"https://cargolink.sa/cargolink.png\" alt=\"CargoLink\" style=\"height:52px;width:auto;display:block;margin:0 auto\" /></div><div class=\"header\">\n      <h1>CargoLink</h1>\n      <p>Freight Marketplace · Welcome Aboard</p>\n    </div>\n    <div class=\"content\">\n      <p style=\"font-size: 16px; font-weight: 700;\">Hello ${d.full_name},</p>\n      <p>Your CargoLink account has been created. You can now post freight requests and receive competitive quotes from verified forwarders worldwide.</p>\n\n      <div class=\"id-box\">\n        <p>Your Account ID</p>\n        <strong>${d.sovereign_id || 'Assigned on first login'}</strong>\n        <p style=\"margin-top: 8px; font-size: 12px; color: #888;\">Keep this ID for reference when contacting support.</p>\n      </div>\n\n      <h3 style=\"color: #111; font-size: 15px;\">Getting Started</h3>\n      <ol class=\"steps\">\n        <li>Log in to your <a href=\"https://cargolink.sa/dashboard\" style=\"color: #0369a1;\">Dashboard</a>.</li>\n        <li>Post your first freight request with origin, destination, and cargo details.</li>\n        <li>Receive quotes from multiple verified forwarders within hours.</li>\n        <li>Compare quotes and open a chat to negotiate directly before booking.</li>\n      </ol>\n\n      <div style=\"text-align: center;\">\n        <a href=\"https://cargolink.sa/dashboard\" class=\"cta-button\">Go to Dashboard →</a>\n      </div>\n\n      <p style=\"font-size: 13px; color: #666; margin-top: 30px;\">Questions? Reply to this email or visit <a href=\"https://cargolink.sa/contact\" style=\"color: #0369a1;\">cargolink.sa/contact</a>.</p>\n    </div>\n    <div class=\"footer\">\n      <p><strong>CargoLink Platform</strong> — Connecting shippers with the world's best freight forwarders</p>\n      <p>© 2025 CargoLink. All rights reserved.</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    email: d.email,\n    full_name: d.full_name,\n    company_name: d.company_name || '',\n    sovereign_id: d.sovereign_id || '',\n    email_body: emailBody\n  }\n};"
      },
      "id": "wf-welcome-build-email",
      "name": "Code: Build Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Welcome to CargoLink — Your Account is Ready",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "wf-welcome-send-email",
      "name": "Gmail: Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail OAuth - Support"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "wf-welcome-respond",
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: User Welcome": {
      "main": [
        [
          {
            "node": "Code: Build Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Welcome Email": {
      "main": [
        [
          {
            "node": "Gmail: Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "cargolink-wf-welcome"
}