n8n_workflow/WF2_AI_Quotation_Catcher.json
{
  "name": "WF2 - AI Quotation Catcher",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "from": "",
          "to": "={{ $env.OMEGO_REPLY_EMAIL }}",
          "subject": "",
          "readStatus": "unread"
        },
        "options": {
          "attachmentsPrefix": "attachment_"
        }
      },
      "name": "Gmail Trigger - Quotation Replies",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sender_email",
              "value": "={{ $json.from }}"
            },
            {
              "name": "sender_name",
              "value": "={{ $json.from.split('<')[0].trim() }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "email_body_text",
              "value": "={{ $json.textPlain || $json.textHtml }}"
            },
            {
              "name": "email_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "thread_id",
              "value": "={{ $json.threadId }}"
            },
            {
              "name": "received_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Email Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract Request ID from subject or body using regex\nconst subject = $json.subject || '';\nconst body = $json.email_body_text || '';\nconst combinedText = subject + ' ' + body;\n\n// Pattern: OMEGO-XXXX-REQ-XX\nconst requestIdPattern = /OMEGO-\\d{4}-REQ-\\d{2}/;\nconst match = combinedText.match(requestIdPattern);\n\nif (!match) {\n  throw new Error('No valid Request ID found in email. Cannot process quotation.');\n}\n\nreturn {\n  json: {\n    request_id: match[0],\n    sender_email: $json.sender_email,\n    sender_name: $json.sender_name,\n    email_body_text: $json.email_body_text\n  }\n};"
      },
      "name": "Extract Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.OMEGO_DASHBOARD_URL }}/api/forwarders/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OMEGO_API_SECRET }}"
            }
          ]
        }
      },
      "name": "Get Postgres Forwarders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verify sender is a registered forwarder\nconst senderEmail = $('Extract Request ID').item.json.sender_email.toLowerCase();\nconst forwarders = $input.all();\n\nlet forwarderData = null;\n\nfor (const fwd of forwarders) {\n  const fwdEmail = (fwd.json.email || '').toLowerCase();\n  if (fwdEmail === senderEmail) {\n    forwarderData = fwd.json;\n    break;\n  }\n}\n\nif (!forwarderData) {\n  throw new Error(`UNKNOWN_SENDER: ${senderEmail} is not a registered forwarder`);\n}\n\nif (forwarderData.status !== 'APPROVED' && forwarderData.status !== 'ACTIVE') {\n  throw new Error(`INACTIVE_FORWARDER: ${senderEmail} is not active (status: ${forwarderData.status})`);\n}\n\nreturn {\n  json: {\n    forwarder_id: forwarderData.forwarder_id,\n    company_name: forwarderData.company_name,\n    contact_person: forwarderData.contact_person,\n    email: forwarderData.email,\n    verified: true\n  }\n};"
      },
      "name": "Verify Forwarder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "REQUESTS!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Get Request Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the specific request and check if it's still open\nconst requestId = $('Extract Request ID').item.json.request_id;\nconst requests = $input.all();\n\nlet requestData = null;\n\nfor (const req of requests) {\n  if (req.json.request_id === requestId) {\n    requestData = req.json;\n    break;\n  }\n}\n\nif (!requestData) {\n  throw new Error(`REQUEST_NOT_FOUND: ${requestId} does not exist`);\n}\n\nif (requestData.status === 'CLOSED') {\n  throw new Error(`REQUEST_CLOSED: ${requestId} is already closed. No more quotations accepted.`);\n}\n\nconst quotationCount = parseInt(requestData.quotation_count) || 0;\n\nif (quotationCount >= 3) {\n  throw new Error(`REQUEST_FULL: ${requestId} already has 3 quotations. Auto-closing now.`);\n}\n\nreturn {\n  json: {\n    request_id: requestData.request_id,\n    user_sovereign_id: requestData.user_sovereign_id,\n    user_email: requestData.user_email,\n    user_name: requestData.user_name,\n    origin: requestData.origin,\n    destination: requestData.destination,\n    cargo_type: requestData.cargo_type,\n    status: requestData.status,\n    quotation_count: quotationCount,\n    currency: requestData.currency || 'USD'\n  }\n};"
      },
      "name": "Validate Request Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "QUOTATIONS!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Check Existing Quotations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1650,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if this forwarder already submitted a quote for this request\nconst requestId = $('Validate Request Status').item.json.request_id;\nconst forwarderId = $('Verify Forwarder').item.json.forwarder_id;\nconst quotations = $input.all();\n\nfor (const quote of quotations) {\n  if (quote.json.request_id === requestId && quote.json.forwarder_id === forwarderId) {\n    throw new Error(`DUPLICATE_QUOTE: Forwarder ${forwarderId} already submitted a quotation for ${requestId}`);\n  }\n}\n\nreturn { json: { duplicate_check: 'PASSED' } };"
      },
      "name": "Check for Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        400
      ]
    },
    {
      "parameters": {
        "modelId": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.1,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert freight quotation data extractor for OMEGO Freight Platform.\n\nYour job: Read the email text and extract ALL quotation fields in valid JSON format.\n\n**Extract these fields:**\n- total_price (number only, no currency symbol or commas)\n- currency (3-letter ISO code: USD, SGD, EUR, CNY, etc.)\n- transit_days (number of days)\n- validity_days (how long quote is valid)\n- carrier (shipping line or airline name)\n- service_type (FCL / LCL / Air / Express / Road)\n- surcharges (list any extra charges mentioned as array of strings)\n- payment_terms (if mentioned, e.g., \"30 days credit\")\n- notes (any important conditions or remarks)\n\n**Rules:**\n1. If a field is not mentioned, set it to null\n2. Return ONLY valid JSON - no extra text, no markdown, no explanations\n3. If multiple prices mentioned, use the total/grand total\n4. Convert any ranges to the lower value\n5. Extract numeric values without commas or symbols\n6. If currency not mentioned, assume USD\n7. For transit_days, look for phrases like \"14 days\", \"2 weeks\" (convert to days)\n8. For validity, look for \"valid for X days\" or \"quote valid until\"\n\n**Example Output:**\n```json\n{\n  \"total_price\": 1850,\n  \"currency\": \"USD\",\n  \"transit_days\": 14,\n  \"validity_days\": 7,\n  \"carrier\": \"MSC\",\n  \"service_type\": \"FCL\",\n  \"surcharges\": [\"THC: $150\", \"BAF: $50\"],\n  \"payment_terms\": \"30 days credit\",\n  \"notes\": \"Port congestion may add 2-3 days\"\n}\n```\n\nNow extract from this email:\n\n{{ $('Extract Request ID').item.json.email_body_text }}"
            }
          ]
        }
      },
      "name": "AI Agent - Extract Quotation Data",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        2050,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5",
          "name": "Anthropic Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate AI output\nlet aiOutput = $json.response || $json.output || $json.text || '';\n\n// Remove markdown code blocks if present\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet quotationData;\ntry {\n  quotationData = JSON.parse(aiOutput);\n} catch (e) {\n  throw new Error('AI_PARSE_ERROR: Could not parse AI response as JSON: ' + e.message);\n}\n\n// Validate required fields\nif (!quotationData.total_price || quotationData.total_price <= 0) {\n  throw new Error('VALIDATION_ERROR: total_price must be a positive number');\n}\n\nif (!quotationData.currency) {\n  quotationData.currency = 'USD'; // Default\n}\n\n// Ensure currency is 3 letters uppercase\nquotationData.currency = quotationData.currency.toUpperCase().substring(0, 3);\n\nif (!quotationData.transit_days || quotationData.transit_days <= 0) {\n  quotationData.transit_days = null; // Mark as missing\n}\n\nif (!quotationData.validity_days || quotationData.validity_days <= 0) {\n  quotationData.validity_days = 7; // Default 7 days\n}\n\n// Clean up surcharges\nif (!Array.isArray(quotationData.surcharges)) {\n  quotationData.surcharges = [];\n}\n\nreturn {\n  json: {\n    ...quotationData,\n    validation_status: 'PASSED',\n    extracted_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        400
      ]
    },
    {
      "parameters": {
        "modelId": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.3,
          "maxTokens": 200
        },
        "messages": {
          "values": [
            {
              "content": "=You are a freight quotation summarizer for a marketplace platform.\n\nGiven structured quotation JSON data, write a clear, professional 2-sentence summary for a non-expert user to understand.\n\n**Format:**\n\"[Company] offers [service type] shipment for [price] [currency] with [transit] days transit time, valid for [validity] days. [Add one notable detail like carrier, special terms, or surcharge info if present.]\"\n\n**Rules:**\n- Keep it under 50 words\n- Plain text only, no markdown\n- Professional but friendly tone\n- Highlight key value propositions\n\n**Quotation Data:**\n```json\n{{ JSON.stringify($json) }}\n```\n\n**Forwarder Company:** {{ $('Verify Forwarder').item.json.company_name }}\n\nWrite the summary:"
            }
          ]
        }
      },
      "name": "AI Agent - Generate Summary",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        2450,
        400
      ],
      "credentials": {
        "anthropicApi": {
          "id": "5",
          "name": "Anthropic Claude API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "quotation_id",
              "value": "={{ $('Validate Request Status').item.json.request_id }}-Q{{ $('Validate Request Status').item.json.quotation_count + 1 }}"
            },
            {
              "name": "request_id",
              "value": "={{ $('Validate Request Status').item.json.request_id }}"
            },
            {
              "name": "forwarder_id",
              "value": "={{ $('Verify Forwarder').item.json.forwarder_id }}"
            },
            {
              "name": "forwarder_company",
              "value": "={{ $('Verify Forwarder').item.json.company_name }}"
            },
            {
              "name": "total_price",
              "value": "={{ $('Validate AI Output').item.json.total_price }}"
            },
            {
              "name": "currency",
              "value": "={{ $('Validate AI Output').item.json.currency }}"
            },
            {
              "name": "transit_days",
              "value": "={{ $('Validate AI Output').item.json.transit_days }}"
            },
            {
              "name": "validity_days",
              "value": "={{ $('Validate AI Output').item.json.validity_days }}"
            },
            {
              "name": "carrier",
              "value": "={{ $('Validate AI Output').item.json.carrier || 'Not specified' }}"
            },
            {
              "name": "service_type",
              "value": "={{ $('Validate AI Output').item.json.service_type || 'Standard' }}"
            },
            {
              "name": "surcharges",
              "value": "={{ JSON.stringify($('Validate AI Output').item.json.surcharges || []) }}"
            },
            {
              "name": "payment_terms",
              "value": "={{ $('Validate AI Output').item.json.payment_terms || 'Not specified' }}"
            },
            {
              "name": "notes",
              "value": "={{ $('Validate AI Output').item.json.notes || '' }}"
            },
            {
              "name": "ai_summary",
              "value": "={{ $json.response || $json.output || $json.text }}"
            },
            {
              "name": "raw_email",
              "value": "={{ $('Extract Request ID').item.json.email_body_text }}"
            },
            {
              "name": "status",
              "value": "ACTIVE"
            },
            {
              "name": "received_at",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "expires_at",
              "value": "={{ $now.plus({ days: $('Validate AI Output').item.json.validity_days }).toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Build Quotation Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2650,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OMEGO_DASHBOARD_URL }}/api/marketplace/n8n-sync",
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OMEGO_API_SECRET }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "request_id",
              "value": "={{ $json.request_id }}"
            },
            {
              "name": "forwarder_email",
              "value": "={{ $('Verify Forwarder').item.json.email }}"
            },
            {
              "name": "forwarder_company",
              "value": "={{ $json.forwarder_company }}"
            },
            {
              "name": "total_price",
              "value": "={{ $json.total_price }}"
            },
            {
              "name": "currency",
              "value": "={{ $json.currency }}"
            },
            {
              "name": "transit_days",
              "value": "={{ $json.transit_days }}"
            },
            {
              "name": "validity_days",
              "value": "={{ $json.validity_days }}"
            },
            {
              "name": "carrier",
              "value": "={{ $json.carrier }}"
            },
            {
              "name": "service_type",
              "value": "={{ $json.service_type }}"
            },
            {
              "name": "raw_email",
              "value": "={{ $json.raw_email }}"
            },
            {
              "name": "ai_summary",
              "value": "={{ $json.ai_summary }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save to PostgreSQL API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2850,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "=REQUESTS!A:Z",
        "options": {
          "valueInputMode": "USER_ENTERED",
          "lookupColumn": "request_id",
          "lookupValue": "={{ $('Validate Request Status').item.json.request_id }}"
        },
        "columns": {
          "mappingsMode": "defineBelow",
          "value": {
            "quotation_count": "={{ $('Validate Request Status').item.json.quotation_count + 1 }}"
          }
        }
      },
      "name": "Increment Quotation Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3050,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OMEGO_DASHBOARD_URL }}/api/quotations/new",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "request_id",
              "value": "={{ $('Build Quotation Record').item.json.request_id }}"
            },
            {
              "name": "quotation_id",
              "value": "={{ $('Build Quotation Record').item.json.quotation_id }}"
            },
            {
              "name": "forwarder_company",
              "value": "={{ $('Build Quotation Record').item.json.forwarder_company }}"
            },
            {
              "name": "price",
              "value": "={{ $('Build Quotation Record').item.json.total_price }}"
            },
            {
              "name": "currency",
              "value": "={{ $('Build Quotation Record').item.json.currency }}"
            },
            {
              "name": "transit_days",
              "value": "={{ $('Build Quotation Record').item.json.transit_days }}"
            },
            {
              "name": "summary",
              "value": "={{ $('Build Quotation Record').item.json.ai_summary }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Validate Request Status').item.json.user_sovereign_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update User Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3250,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6",
          "name": "OMEGO API Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate Request Status').item.json.user_email }}",
        "subject": "\ud83d\udcca New Quotation Received - {{ $('Validate Request Status').item.json.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif;\">\n  <div style=\"background: #2E75B6; color: white; padding: 20px; text-align: center;\">\n    <h1>\ud83d\udcca New Quotation Received!</h1>\n  </div>\n  \n  <div style=\"padding: 20px;\">\n    <p>Dear {{ $('Validate Request Status').item.json.user_name }},</p>\n    \n    <p>Great news! You've received a new quotation for your freight request.</p>\n    \n    <div style=\"background: #E8F4F8; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n      <h3 style=\"margin-top: 0; color: #2E75B6;\">{{ $('Validate Request Status').item.json.request_id }}</h3>\n      <p><strong>From:</strong> {{ $('Build Quotation Record').item.json.forwarder_company }}</p>\n      <p><strong>Price:</strong> {{ $('Build Quotation Record').item.json.total_price }} {{ $('Build Quotation Record').item.json.currency }}</p>\n      <p><strong>Transit Time:</strong> {{ $('Build Quotation Record').item.json.transit_days }} days</p>\n      <p><strong>Service:</strong> {{ $('Build Quotation Record').item.json.service_type }}</p>\n      <hr style=\"border: none; border-top: 1px solid #ccc; margin: 15px 0;\">\n      <p style=\"font-style: italic;\">{{ $('Build Quotation Record').item.json.ai_summary }}</p>\n    </div>\n    \n    <p><strong>\ud83d\udcca Quotations Received:</strong> {{ $('Validate Request Status').item.json.quotation_count + 1 }} / 3</p>\n    \n    {{ $('Validate Request Status').item.json.quotation_count + 1 === 3 ? '<p style=\"background: #FFF3CD; padding: 10px; border-left: 4px solid #FFC107;\">\ud83d\udd12 <strong>Request Auto-Closed:</strong> You have received all 3 quotations. No further quotes will be accepted.</p>' : '<p>\u23f3 Your request remains open for additional quotations.</p>' }}\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"{{ $env.OMEGO_DASHBOARD_URL }}/requests/{{ $('Validate Request Status').item.json.request_id }}\" style=\"background: #2E75B6; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block;\">\ud83d\udcca View All Quotations</a>\n    </div>\n  </div>\n  \n  <div style=\"background: #f0f0f0; padding: 15px; text-align: center; font-size: 12px;\">\n    <p>OMEGO Freight Forwarding Platform</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send User Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3250,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Verify Forwarder').item.json.email }}",
        "subject": "\u2705 Quotation Confirmed - {{ $('Validate Request Status').item.json.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif;\">\n  <div style=\"background: #28A745; color: white; padding: 20px; text-align: center;\">\n    <h1>\u2705 Quotation Received!</h1>\n  </div>\n  \n  <div style=\"padding: 20px;\">\n    <p>Dear {{ $('Verify Forwarder').item.json.company_name }},</p>\n    \n    <p>Your quotation for <strong>{{ $('Validate Request Status').item.json.request_id }}</strong> has been successfully received and is now visible to the client.</p>\n    \n    <div style=\"background: #E8F4F8; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n      <p><strong>Your Quotation:</strong></p>\n      <p>\ud83d\udcb0 Price: {{ $('Build Quotation Record').item.json.total_price }} {{ $('Build Quotation Record').item.json.currency }}</p>\n      <p>\u23f1\ufe0f Transit: {{ $('Build Quotation Record').item.json.transit_days }} days</p>\n      <p>\ud83d\udce6 Service: {{ $('Build Quotation Record').item.json.service_type }}</p>\n    </div>\n    \n    <p>The client will review all quotations and may contact you directly if they choose your offer.</p>\n    \n    <p style=\"font-size: 12px; color: #666;\">Note: This request will auto-close after 3 quotations are received.</p>\n  </div>\n  \n  <div style=\"background: #f0f0f0; padding: 15px; text-align: center; font-size: 12px;\">\n    <p>OMEGO Freight Forwarding Platform</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Forwarder Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3450,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Validate Request Status').item.json.quotation_count + 1 }}",
              "value2": 3,
              "operation": "equal"
            }
          ]
        }
      },
      "name": "Check If 3 Quotes Reached",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3650,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WF3_AUTO_CLOSE_WORKFLOW_ID }}",
        "options": {
          "waitForCompletion": false
        },
        "fields": {
          "values": [
            {
              "name": "request_id",
              "stringValue": "={{ $('Validate Request Status').item.json.request_id }}"
            }
          ]
        }
      },
      "name": "Trigger Auto-Close Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Extract Email Metadata').item.json.email_id }}",
        "options": {}
      },
      "name": "Mark Email as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4050,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Quotation Replies": {
      "main": [
        [
          {
            "node": "Extract Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Metadata": {
      "main": [
        [
          {
            "node": "Extract Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request ID": {
      "main": [
        [
          {
            "node": "Get Postgres Forwarders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Forwarder": {
      "main": [
        [
          {
            "node": "Get Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request Details": {
      "main": [
        [
          {
            "node": "Validate Request Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request Status": {
      "main": [
        [
          {
            "node": "Check Existing Quotations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Quotations": {
      "main": [
        [
          {
            "node": "Check for Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate": {
      "main": [
        [
          {
            "node": "AI Agent - Extract Quotation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Extract Quotation Data": {
      "main": [
        [
          {
            "node": "Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Output": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Summary": {
      "main": [
        [
          {
            "node": "Build Quotation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quotation Record": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Quotation Count": {
      "main": [
        [
          {
            "node": "Update User Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send User Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send User Email Alert": {
      "main": [
        [
          {
            "node": "Send Forwarder Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Forwarder Confirmation": {
      "main": [
        [
          {
            "node": "Check If 3 Quotes Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If 3 Quotes Reached": {
      "main": [
        [
          {
            "node": "Trigger Auto-Close Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Email as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Auto-Close Workflow": {
      "main": [
        [
          {
            "node": "Mark Email as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL API": {
      "main": [
        [
          {
            "node": "Increment Quotation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Postgres Forwarders": {
      "main": [
        [
          {
            "node": "Verify Forwarder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "={{ $env.WF5_ERROR_HANDLER_WORKFLOW_ID }}"
  }
}