n8n_workflow/WF3_Auto_Close_Request.json
{
  "name": "WF3 - Auto-Close Request Logic",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "request_id",
              "value": "={{ $json.request_id }}"
            },
            {
              "name": "closed_at",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "closed_reason",
              "value": "3_QUOTES_RECEIVED"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Closure Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "REQUESTS!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Get Request Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the request by ID\nconst requestId = $('Set Closure Metadata').item.json.request_id;\nconst requests = $input.all();\n\nlet requestData = null;\n\nfor (const req of requests) {\n  if (req.json.request_id === requestId) {\n    requestData = req.json;\n    break;\n  }\n}\n\nif (!requestData) {\n  throw new Error(`REQUEST_NOT_FOUND: ${requestId}`);\n}\n\nreturn { json: requestData };"
      },
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "REQUESTS!A:Z",
        "options": {
          "valueInputMode": "USER_ENTERED",
          "lookupColumn": "request_id",
          "lookupValue": "={{ $('Set Closure Metadata').item.json.request_id }}"
        },
        "columns": {
          "mappingsMode": "defineBelow",
          "value": {
            "status": "CLOSED",
            "closed_at": "={{ $('Set Closure Metadata').item.json.closed_at }}",
            "closed_reason": "={{ $('Set Closure Metadata').item.json.closed_reason }}"
          }
        }
      },
      "name": "Update Request Status to CLOSED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "QUOTATIONS!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Get All Quotations for Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter and sort quotations for this request\nconst requestId = $('Set Closure Metadata').item.json.request_id;\nconst allQuotations = $input.all();\n\nconst requestQuotations = allQuotations\n  .filter(q => q.json.request_id === requestId)\n  .map(q => q.json)\n  .sort((a, b) => parseFloat(a.total_price) - parseFloat(b.total_price)); // Sort by price ascending\n\nif (requestQuotations.length !== 3) {\n  console.warn(`Expected 3 quotations but found ${requestQuotations.length}`);\n}\n\nreturn requestQuotations.map(q => ({ json: q }));"
      },
      "name": "Sort Quotations by Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "BROADCAST_LOG!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Get Broadcast Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1650, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find all forwarders who were notified but did NOT submit a quote\nconst requestId = $('Set Closure Metadata').item.json.request_id;\nconst broadcastLog = $input.all();\nconst quotations = $('Sort Quotations by Price').all();\n\n// Get forwarders who were notified\nconst notifiedForwarderIds = broadcastLog\n  .filter(log => log.json.request_id === requestId)\n  .map(log => log.json.forwarder_id);\n\n// Get forwarders who submitted quotes\nconst quotingForwarderIds = quotations.map(q => q.json.forwarder_id);\n\n// Find non-quoting forwarders\nconst nonQuotingForwarderIds = notifiedForwarderIds.filter(\n  id => !quotingForwarderIds.includes(id)\n);\n\nreturn {\n  json: {\n    notified_count: notifiedForwarderIds.length,\n    quoted_count: quotingForwarderIds.length,\n    non_quoting_forwarder_ids: nonQuotingForwarderIds\n  }\n};"
      },
      "name": "Find Non-Quoting Forwarders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "REGISTERED_FORWARDERS!A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "name": "Get Forwarder Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2050, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get full details for non-quoting forwarders\nconst nonQuotingIds = $('Find Non-Quoting Forwarders').item.json.non_quoting_forwarder_ids;\nconst allForwarders = $input.all();\n\nconst nonQuotingForwarders = allForwarders.filter(fwd =>\n  nonQuotingIds.includes(fwd.json.forwarder_id)\n);\n\nreturn nonQuotingForwarders;"
      },
      "name": "Filter Non-Quoting Forwarders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Non-Quoting Forwarders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2450, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🔒 Request Closed - {{ $('Set Closure Metadata').item.json.request_id }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif;\">\n  <div style=\"background: #6C757D; color: white; padding: 20px; text-align: center;\">\n    <h1>🔒 Request Closed</h1>\n  </div>\n  \n  <div style=\"padding: 20px;\">\n    <p>Dear {{ $json.company_name }},</p>\n    \n    <p>This is to inform you that the following freight request has been closed:</p>\n    \n    <div style=\"background: #F8F9FA; padding: 15px; border-radius: 5px; border-left: 4px solid #6C757D; margin: 20px 0;\">\n      <h3 style=\"margin-top: 0;\">{{ $('Set Closure Metadata').item.json.request_id }}</h3>\n      <p><strong>Route:</strong> {{ $('Extract Request Data').item.json.origin }} → {{ $('Extract Request Data').item.json.destination }}</p>\n      <p><strong>Cargo:</strong> {{ $('Extract Request Data').item.json.cargo_type }}</p>\n    </div>\n    \n    <p><strong>Reason:</strong> The request has received 3 quotations and has been automatically closed.</p>\n    \n    <p style=\"background: #FFF3CD; padding: 10px; border-radius: 5px;\">⚠️ <strong>No further quotations can be submitted for this request.</strong></p>\n    \n    <p>Thank you for your interest. We look forward to working with you on future requests.</p>\n    \n    <p style=\"font-size: 12px; color: #666; margin-top: 30px;\">You can view new open requests in your OMEGO forwarder dashboard.</p>\n  </div>\n  \n  <div style=\"background: #f0f0f0; padding: 15px; text-align: center; font-size: 12px;\">\n    <p>OMEGO Freight Forwarding Platform</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Closure Email to Non-Quoters",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2650, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email_subject",
              "value": "🎉 All 3 Quotations Ready - {{ $('Set Closure Metadata').item.json.request_id }}"
            },
            {
              "name": "email_body",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: #28A745; color: white; padding: 30px; text-align: center; }\n    .content { padding: 30px; }\n    .quotation-table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    .quotation-table th { background: #2E75B6; color: white; padding: 12px; text-align: left; }\n    .quotation-table td { padding: 12px; border-bottom: 1px solid #ddd; }\n    .quotation-table tr:nth-child(even) { background: #f9f9f9; }\n    .best-price { background: #D4EDDA !important; border-left: 4px solid #28A745; }\n    .cta-button { background: #2E75B6; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 20px 0; }\n    .footer { background: #f0f0f0; padding: 20px; text-align: center; font-size: 12px; color: #666; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>🎉 Your Quotations Are Ready!</h1>\n    <p style=\"font-size: 18px; margin: 10px 0 0 0;\">3 competitive quotes received</p>\n  </div>\n  \n  <div class=\"content\">\n    <p>Dear {{ $('Extract Request Data').item.json.user_name }},</p>\n    \n    <p>Excellent news! Your freight request has received all 3 quotations and is now closed for additional submissions.</p>\n    \n    <div style=\"background: #E8F4F8; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n      <h3 style=\"margin-top: 0; color: #2E75B6;\">{{ $('Set Closure Metadata').item.json.request_id }}</h3>\n      <p><strong>Route:</strong> {{ $('Extract Request Data').item.json.origin }} → {{ $('Extract Request Data').item.json.destination }}</p>\n      <p><strong>Cargo:</strong> {{ $('Extract Request Data').item.json.cargo_type }} ({{ $('Extract Request Data').item.json.weight_kg }} kg)</p>\n    </div>\n    \n    <h2>📊 Compare Your Quotations</h2>\n    \n    <table class=\"quotation-table\">\n      <thead>\n        <tr>\n          <th>Forwarder</th>\n          <th>Price</th>\n          <th>Transit</th>\n          <th>Service</th>\n          <th>Carrier</th>\n        </tr>\n      </thead>\n      <tbody>\n        {% for quote in $('Sort Quotations by Price').all() %}\n        <tr {{ loop.index === 1 ? 'class=\"best-price\"' : '' }}>\n          <td>\n            <strong>{{ quote.json.forwarder_company }}</strong>\n            {{ loop.index === 1 ? '<br><span style=\"color: #28A745; font-size: 11px;\">✓ LOWEST PRICE</span>' : '' }}\n          </td>\n          <td><strong>{{ quote.json.currency }} {{ quote.json.total_price }}</strong></td>\n          <td>{{ quote.json.transit_days }} days</td>\n          <td>{{ quote.json.service_type }}</td>\n          <td>{{ quote.json.carrier }}</td>\n        </tr>\n        {% endfor %}\n      </tbody>\n    </table>\n    \n    <h3>📝 Detailed Summaries</h3>\n    {% for quote in $('Sort Quotations by Price').all() %}\n    <div style=\"background: {{ loop.index === 1 ? '#D4EDDA' : '#f9f9f9' }}; padding: 15px; margin: 10px 0; border-radius: 5px; border-left: 4px solid {{ loop.index === 1 ? '#28A745' : '#ccc' }};\">\n      <p style=\"margin: 0;\"><strong>{{ quote.json.forwarder_company }}:</strong> {{ quote.json.ai_summary }}</p>\n    </div>\n    {% endfor %}\n    \n    <div style=\"text-align: center; margin: 40px 0;\">\n      <a href=\"{{ $env.OMEGO_DASHBOARD_URL }}/requests/{{ $('Set Closure Metadata').item.json.request_id }}\" class=\"cta-button\">📊 View Full Details & Book</a>\n    </div>\n    \n    <div style=\"background: #FFF3CD; padding: 15px; border-radius: 5px; border-left: 4px solid #FFC107;\">\n      <p style=\"margin: 0;\"><strong>⏰ Important:</strong> Quotations are typically valid for 7 days. Please review and make your selection soon.</p>\n    </div>\n  </div>\n  \n  <div class=\"footer\">\n    <p><strong>OMEGO Freight Forwarding Platform</strong></p>\n    <p>Need help choosing? Contact us at {{ $env.OMEGO_SUPPORT_EMAIL }}</p>\n  </div>\n</body>\n</html>"
            }
          ]
        },
        "options": {}
      },
      "name": "Build User Summary Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract Request Data').item.json.user_email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "name": "Send Summary to User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2850, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OMEGO_DASHBOARD_URL }}/api/requests/close",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "request_id",
              "value": "={{ $('Set Closure Metadata').item.json.request_id }}"
            },
            {
              "name": "status",
              "value": "CLOSED"
            },
            {
              "name": "closed_at",
              "value": "={{ $('Set Closure Metadata').item.json.closed_at }}"
            },
            {
              "name": "closed_reason",
              "value": "={{ $('Set Closure Metadata').item.json.closed_reason }}"
            },
            {
              "name": "quotations",
              "value": "={{ JSON.stringify($('Sort Quotations by Price').all().map(q => q.json)) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update User Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6",
          "name": "OMEGO API Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "sheetId": {
          "__rl": true,
          "value": "={{ $env.OMEGO_MASTER_SHEET_ID }}",
          "mode": "id"
        },
        "range": "EVENTS_LOG!A:Z",
        "columns": {
          "mappingsMode": "defineBelow",
          "value": {
            "event_id": "={{ $now.toMillis() }}",
            "event_type": "REQUEST_CLOSED",
            "request_id": "={{ $('Set Closure Metadata').item.json.request_id }}",
            "actor": "SYSTEM",
            "description": "Request auto-closed after receiving 3 quotations. User notified: YES. Forwarders notified: {{ $('Find Non-Quoting Forwarders').item.json.notified_count }}",
            "timestamp": "={{ $('Set Closure Metadata').item.json.closed_at }}",
            "quotations_received": "3",
            "user_notified": "YES",
            "forwarders_notified": "={{ $('Find Non-Quoting Forwarders').item.json.notified_count }}"
          }
        }
      },
      "name": "Log Closure Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [3250, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Closure Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Closure Metadata": {
      "main": [
        [
          {
            "node": "Get Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request Details": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Update Request Status to CLOSED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Request Status to CLOSED": {
      "main": [
        [
          {
            "node": "Get All Quotations for Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Quotations for Request": {
      "main": [
        [
          {
            "node": "Sort Quotations by Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Quotations by Price": {
      "main": [
        [
          {
            "node": "Get Broadcast Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build User Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Broadcast Log": {
      "main": [
        [
          {
            "node": "Find Non-Quoting Forwarders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Non-Quoting Forwarders": {
      "main": [
        [
          {
            "node": "Get Forwarder Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Forwarder Details": {
      "main": [
        [
          {
            "node": "Filter Non-Quoting Forwarders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Non-Quoting Forwarders": {
      "main": [
        [
          {
            "node": "Split Non-Quoting Forwarders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Non-Quoting Forwarders": {
      "main": [
        [
          {
            "node": "Send Closure Email to Non-Quoters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Closure Email to Non-Quoters": {
      "main": [
        [
          {
            "node": "Split Non-Quoting Forwarders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Closure Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Summary Email": {
      "main": [
        [
          {
            "node": "Send Summary to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to User": {
      "main": [
        [
          {
            "node": "Update User Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Dashboard": {
      "main": [
        [
          {
            "node": "Log Closure Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
