n8n_blueprints/wf1_broadcast_request.json
{
    "name": "OMEGO-WF1-Broadcast-Request",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "broadcast-request",
                "options": {}
            },
            "name": "Webhook Intake",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "1"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM requests WHERE request_id = '{{ $json.request_id }}';"
            },
            "name": "Fetch Request",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "2"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM forwarders WHERE status = 'APPROVED';"
            },
            "name": "Get Forwarders",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "3"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.specializations }}",
                            "operation": "contains",
                            "value2": "={{ $node[\"Fetch Request\"].json.cargo_type }}"
                        }
                    ]
                }
            },
            "name": "Filter Partners",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "4"
        },
        {
            "parameters": {
                "fromEmail": "no-reply@omegoonline.com",
                "toEmail": "={{ $json.email }}",
                "subject": "🚢 [NEW REQUEST] {{ $node[\"Fetch Request\"].json.request_id }} - {{ $node[\"Fetch Request\"].json.origin }} to {{ $node[\"Fetch Request\"].json.destination }}",
                "html": "<h1>New Shipment Available!</h1><p>Check the dashboard for ID: {{ $node[\"Fetch Request\"].json.request_id }}</p>"
            },
            "name": "Send Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ],
            "id": "5"
        }
    ],
    "connections": {
        "Webhook Intake": {
            "main": [
                [
                    {
                        "node": "Fetch Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Request": {
            "main": [
                [
                    {
                        "node": "Get Forwarders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Forwarders": {
            "main": [
                [
                    {
                        "node": "Filter Partners",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Partners": {
            "main": [
                [
                    {
                        "node": "Send Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}