n8n_blueprints/wf3_auto_close.json
{
    "name": "OMEGO-WF3-Auto-Close",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "trigger-close",
                "options": {}
            },
            "name": "Trigger Close",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "1"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE requests SET status = 'CLOSED' WHERE request_id = '{{ $json.request_id }}';"
            },
            "name": "Mark Closed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "2"
        },
        {
            "parameters": {
                "toEmail": "user@email.com",
                "subject": "🎯 Your Top 3 Quotes are Ready!",
                "html": "<h1>Comparison Ready</h1><p>Request {{ $json.request_id }} has been closed with 3 competitive quotes.</p>"
            },
            "name": "Final Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "3"
        }
    ],
    "connections": {
        "Trigger Close": {
            "main": [
                [
                    {
                        "node": "Mark Closed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Closed": {
            "main": [
                [
                    {
                        "node": "Final Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}